#![enable(implicit_some)]
(
    types: {
        "CellBgTest": (
            spritesheet_filename: "bg_cell1.png",

            entity: (
                components: (
                    size: (
                        w: 240.0,
                        h: 96.0,
                    ),
                    gravity: (
                        x: None,
                        y: None,
                    ),
                    max_movement_velocity: (
                        x: 100.0,
                        y: 100.0,
                    ),
                    base_friction: (
                        friction_x: 1000.0,
                    ),
                    animations: {
                        Idle: Cycle([
                            (0, 30),
                            (1, 30),
                            (2, 30),
                            (3, 250),
                            (2, 30),
                            (1, 50),
                            (0, 30),
                            (1, 50),
                            (0, 30),
                            (3, 120),
                            (1, 40),
                            (2, 40),
                            (1, 40),
                            (0, 30),
                            (3, 2000),
                        ]),
                        Custom("Flicker0"): Once([
                            (0, 30),
                            (1, 30),
                            (2, 30),
                            (3, 250),
                            (2, 30),
                            (1, 50),
                            (0, 30),
                            (1, 50),
                            (0, 30),
                            (3, 120),
                            (1, 40),
                            (2, 40),
                            (1, 40),
                            (0, 30),
                            (3, 2000),
                        ]),
                    },
                    hitbox: Custom([
                        (
                            top:    12.0,
                            bottom: -24.0,
                            left:   -12.0,
                            right:  12.0,
                        ),
                    ]),
                    health: (
                        health: 1,
                        max_health: 1,
                    ),
                ),

                // also play sound (some buzzing maybe) when switching to light animation

                collision_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid", "Jumppad", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
