#![enable(implicit_some)]
(
    types: {
        "ExplosionSmall": (
            spritesheet_filename: "explosion.png",

            entity: (
                size: (
                    w: 24.0,
                    h: 24.0,
                ),

                components: [
                    Animation([
                        (0, 100),
                        (1, 100),
                        (2, 100),
                        (3, 100),
                        (4, 100),
                        (5, 100),
                        (6, 100),
                        (7, 100),
                    ]),
                    Hitbox(Size),
                    DealsDamage((
                        damage: 4,
                    )),
                    DeathAfterDelay((
                        delay_ms: 800,
                    )),
                ],

                collision_tag: (
                    labels: ["EnemyBullet"],
                    collides_with: ["Player", "Solid"],
                ),
            ),
        ),
    }
)
