#![enable(implicit_some)]
(
    types: {
        "VentDetached": (
            spritesheet_filename: "environment_vent_detached.png",

            entity: (
                components: (
                    size: (
                        w: 32.0,
                        h: 32.0,
                    ),
                    animation: [
                        (0, 100),
                        (1, 100),
                        (2, 100),
                    ],
                ),
            ),
        ),
    }
)
