#![enable(implicit_some)]
(
    types: {
        "Particle": (
            spritesheet_filename: "particle.png",

            entity: (
                size: (
                    w: 2.0,
                    h: 2.0,
                ),

                components: [
                    Animation([
                        (0, 250),
                        (1, 250),
                        (2, 250),
                        (3, 250),
                        (4, 250),
                        (5, 250),
                    ]),
                    DeathAfterDelay((
                        delay_ms: 15_000,
                    )),
                ],

                events: {
                    OnSpawn: Random((
                        chance: 0.5,
                        on_success: EntityAction(SwitchVariant("SwerveLeft")),
                        on_failure: EntityAction(SwitchVariant("SwerveRight")),
                    )),
                },

                variants: {
                    "Up": (
                        components: [
                            Velocity((x: 0.0, y: 10.0)),
                        ],
                    ),

                    "Down": (
                        components: [
                            Velocity((x: 0.0, y: -10.0)),
                        ],
                    ),

                    "SwerveLeft": (
                        events: {
                            Init: MoveAction(SetVelocity(x: 0.0)),
                            Interval(2): MoveAction(AddVelocity(x: -1.0)),
                            Delay(500): EntityAction(SwitchVariant("SwerveRight")),
                        },
                    ),

                    "SwerveRight": (
                        events: {
                            Init: MoveAction(SetVelocity(x: 0.0)),
                            Interval(2): MoveAction(AddVelocity(x: 1.0)),
                            Delay(500): EntityAction(SwitchVariant("SwerveLeft")),
                        },
                    ),
                },
            ),
        ),
    }
)
