// src/input/ingame_bindings.rs
(
    axes: {
        PlayerX: Emulated(pos: Key(D), neg: Key(A)),
        PlayerY: Emulated(pos: Key(W), neg: Key(S)),
    },
    actions: {
        MoveUp:    [ [Key(Up)], ],
        MoveDown:  [ [Key(Down)], ],
        MoveLeft:  [ [Key(Left)], ],
        MoveRight: [ [Key(Right)], ],

        PlayerJump:  [ [Key(Space)], [Key(K)], ],
        PlayerShoot: [ [Key(J)], ],

        TogglePause: [ [Key(P)], ],

        Interact:    [ [Key(E)], ],

        // DEBUG
        ReloadLevel: [ [Key(R)], ],
    },
)
