// src/input/ingame_bindings.rs
(
    axes: {
        MoveX: Emulated(pos: Key(D), neg: Key(A)),
        MoveY: Emulated(pos: Key(W), neg: Key(S)),
    },
    actions: {
        MoveUp:    [ [Key(Up)], ],
        MoveDown:  [ [Key(Down)], ],
        MoveLeft:  [ [Key(Left)], ],
        MoveRight: [ [Key(Right)], ],

        Jump:     [ [Key(Space)], [Key(K)], ],
        Shoot:    [ [Key(J)], ],
        Interact: [ [Key(E)], ],

        TogglePause: [ [Key(P)], ],
        ReloadLevel: [ [Key(R)], ],

        Custom("ToggleCrouch"): [ [Key(C)], ],
        Custom("Dodge"):        [ [Key(LShift)], ],
    },
)
