(
    axes: {},
    actions: {
        Next:   [ [Key(J)], [Key(D)], [Key(Right)], [Key(Tab)] ],
        Prev:   [ [Key(K)], [Key(A)], [Key(Left)], [Key(LShift), Key(Tab)] ],
        Select: [ [Key(Return)], [Key(Space)], ],
        Quit:   [ [Key(Escape)], ],
    },
)
