#![enable(implicit_some)]
(
    /// Camera settings.
    camera: (
        /// The camera's size. This is _NOT_ the window's size.
        /// This is more like the camera's viewport.
        size: (
            width:  800.0,
            height: 800.0,
        ),
        /// Z position, should be larger than any other entity's Z position.
        z: 10.0,
    ),

    /// Player settings.
    player: (
        /// The player's in-game size.
        size: (
            width:  32.0,
            height: 64.0,
        ),

        /// The player's acceleration.
        acceleration:  (5000.0, 2000.0),

        /// The player's physics data; anything involving physics.
        /// NOTE: Max speed is `acceleration / damping`.
        physics: (
            max_velocity:  None,
            damping:       20.0,
            mass:          1.0, // NOTE: Player's mass is ignored when applying force
            has_gravity:   true,
            body_status:   Dynamic,
            shape:         Cuboid(
                half_width:  16.0,
                half_height: 32.0,
            ),
            friction:      0.0,
            restitution:   0.0,
        ),
    ),

    /// Tile settings for all TileTypes.
    tiles: (
        types: {
            Ground: (
                solid: true,
                physics: (
                    body_status:   Static,
                    shape:         Cuboid(
                        half_width:  8.0,
                        half_height: 8.0,
                    ),
                    friction:      0.0,
                    restitution:   0.0,
                ),
            ),
        },
    ),
)
