#![enable(implicit_some)]
(
    /// Camera settings.
    camera: (
        /// The camera's size. This is _NOT_ the window's size.
        /// This is more like the camera's viewport.
        size: (
            width:  800.0,
            height: 800.0,
        ),
        /// Z position, should be larger than any other entity's Z position.
        z: 10.0,
    ),

    /// Player settings.
    player: (
        /// The player's in-game size.
        size: (
            width:  32.0,
            height: 64.0,
        ),
        /// The player's physics data; anything involving physics.
        /// NOTE: Max speed is `acceleration / damping`.
        physics: (
            acceleration:  (5000.0, None),
            max_velocity:  (100.0, 100.0),
            damping:       20.0,
            mass:          10.0, // NOTE: Player's mass is ignored when applying force
            has_gravity:   true,
            // decr_velocity: (50.0, None),
            // gravity:       (None, -100.0),
        ),
    ),
)
