#![enable(implicit_some)]
(
    /// Camera settings.
    camera: (
        /// The camera's size. This is _NOT_ the window's size.
        /// This is more like the camera's viewport.
        size: (
            width:  800.0,
            height: 800.0,
        ),
        /// Z position, should be larger than any other entity's Z position.
        z: 10.0,
    ),

    /// Player settings.
    player: (
        /// The player's in-game size.
        size: (
            width:  32.0,
            height: 64.0,
        ),
        /// The player's movement data; anything involving velocity.
        movement: (
            acceleration:  (500.0, 500.0),
            max_velocity:  (500.0, 500.0),
            decr_velocity: (50.0, None),
            gravity:       (None, -100.0),
        ),
    ),
)
