<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../deathframe_physics/components/prelude/struct.Hitbox.html">
</head>
<body>
    <p>Redirecting to <a href="../../../deathframe_physics/components/prelude/struct.Hitbox.html">../../../deathframe_physics/components/prelude/struct.Hitbox.html</a>...</p>
    <script>location.replace("../../../deathframe_physics/components/prelude/struct.Hitbox.html" + location.search + location.hash);</script>
</body>
</html>