#![enable(implicit_some)]
(
    types: {
        "ProjectileDischarge": (
            spritesheet_filename: "projectile_discharge.png",

            entity: (
                size: (
                    w: 16.0,
                    h: 16.0,
                ),

                components: [
                    Animation([
                        (0, 100),
                        (1, 100),
                        (2, 100),
                    ]),
                    Gravity((
                        y: -400.0,
                    )),
                    Hitbox(Custom([
                        (
                            top:    5.0,
                            bottom: -7.0,
                            left:   -7.0,
                            right:  7.0,
                        ),
                    ])),
                    DealsDamage((
                        damage: 4,
                    )),
                    DeathAfterDelay((
                        delay_ms: 2800,
                    )),
                ],

                events: {
                    OnCollision(And([IsTag("Player"), IsState(Enter)])):
                        EntityAction(DeleteEntity),
                },

                variants: {
                    "Left": (
                        components: [
                            Velocity((
                                x: -60.0,
                                y: 150.0,
                            )),
                        ],
                        events: {
                            OnCollision(And([IsTag("Solid"), IsState(Enter), IsSide(Left)])):
                                EntityAction(SwitchVariant("Right")),
                        },
                    ),
                    "Right": (
                        components: [
                            Velocity((
                                x: 60.0,
                                y: 150.0,
                            )),
                        ],
                        events: {
                            OnCollision(And([IsTag("Solid"), IsState(Enter), IsSide(Right)])):
                                EntityAction(SwitchVariant("Left")),
                        },
                    ),
                },

                collision_tag: (
                    labels: ["EnemyBullet"],
                    collides_with: ["Player", "Solid"],
                ),

                solid_tag: (
                    labels: ["EnemyBullet"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
