#![enable(implicit_some)]
(
    types: {
        "ShooterBullet": (
            spritesheet_filename: "enemy_bullet.png",

            entity: (
                size: (
                    w: 6.0,
                    h: 6.0,
                ),

                components: [
                    Animation([
                        (0, 100),
                        (1, 100),
                        (2, 100),
                        (3, 100),
                    ]),
                    Hitbox(Custom([
                        (
                            top:    2.0,
                            bottom: -2.0,
                            left:   -2.0,
                            right:  2.0,
                        )
                    ])),
                    Bullet(()),
                    DeathAfterDelay((
                        delay_ms: 5_000,
                    )),
                    DeathOnContact((
                        collides_with: ["Player", "Solid"],
                    )),
                    DealsDamage((
                        damage: 2,
                    )),
                ],

                events: {
                    OnCollision(And([
                        Or([IsTag("Solid")]),
                        IsState(Enter),
                    ])): EntityAction(DeleteEntity),
                },

                variants: {
                    "Left": (
                        components: [
                            Velocity((
                                x: -150.0,
                                y: 0.0,
                            )),
                        ],
                    ),
                    "Right": (
                        components: [
                            Velocity((
                                x: 150.0,
                                y: 0.0,
                            )),
                        ],
                    ),
                    "Down": (
                        components: [
                            Velocity((
                                x: 0.0,
                                y: -70.0,
                            )),
                        ],
                    ),
                    "LeftDownDia": (
                        components: [
                            Velocity((
                                x: -60.0,
                                y: -60.0,
                            )),
                        ],
                    ),
                    "RightDownDia": (
                        components: [
                            Velocity((
                                x: 60.0,
                                y: -60.0,
                            )),
                        ],
                    ),
                },

                collision_tag: (
                    labels: ["EnemyBullet"],
                    collides_with: ["Player", "Solid"],
                ),
            ),
        ),
    }
)
