#![enable(implicit_some)]
(
    types: {
        "ShooterBullet": (
            spritesheet_filename: "enemy_bullet.png",

            entity: (
                components: (
                    size: (w: 6.0, h: 6.0),
                    animation: [
                        (0, 100),
                        (1, 100),
                        (2, 100),
                        (3, 100),
                    ],
                    hitbox: Custom([
                        (
                            top:    2.0,
                            bottom: -2.0,
                            left:   -2.0,
                            right:  2.0,
                        )
                    ]),
                    bullet: (),
                    death_after_delay: (
                        delay_ms: 5_000,
                    ),
                    death_on_contact: (
                        collides_with: ["Player", "Solid"],
                    ),
                    deals_damage: (
                        damage: 2,
                    ),
                ),

                events: {
                    OnCollision(And([
                        Or([IsTag("Solid")]),
                        IsState(Enter),
                    ])): EntityAction(DeleteEntity),
                },

                variants: {
                    "Left": (
                        components: (
                            velocity: (
                                x: -150.0,
                                y: 0.0,
                            ),
                        ),
                    ),
                    "Right": (
                        components: (
                            velocity: (
                                x: 150.0,
                                y: 0.0,
                            ),
                        ),
                    ),
                    "Down": (
                        components: (
                            velocity: (
                                x: 0.0,
                                y: -70.0,
                            ),
                        ),
                    ),
                    "LeftDownDia": (
                        components: (
                            velocity: (
                                x: -60.0,
                                y: -60.0,
                            ),
                        ),
                    ),
                    "RightDownDia": (
                        components: (
                            velocity: (
                                x: 60.0,
                                y: -60.0,
                            ),
                        ),
                    ),
                },

                collision_tag: (
                    labels: ["EnemyBullet"],
                    collides_with: ["Player", "Solid"],
                ),
            ),
        ),
    }
)
