#![enable(implicit_some)]
(
    types: {
        "CellBgTest": (
            spritesheet_filename: "bg_cell1.png",

            entity: (
                size: (
                    w: 240.0,
                    h: 96.0,
                ),

                components: [
                    Animations({
                        Idle: Cycle([
                            (3, 3000),
                            (1, 80),
                            (2, 80),
                            (3, 550),
                            (2, 100),
                            (1, 160),
                            (0, 100),
                            (1, 100),
                            (0, 1200),
                            (3, 120),
                            (1, 40),
                            (2, 100),
                            (1, 100),
                            (0, 100),
                            (3, 2000),
                            (1, 80),
                            (2, 80),
                            (3, 550),
                            (1, 80),
                            (2, 80),
                            (3, 80),
                            (1, 160),
                            (0, 90),
                            (1, 90),
                            (0, 90),
                            (3, 120),
                            (1, 100),
                            (2, 100),
                            (1, 220),
                            (0, 220),
                            (3, 90),
                            (3, 1400),
                            (1, 90),
                            (2, 90),
                            (1, 90),
                            (0, 90),
                            (2, 90),
                        ]),
                    }),
                ],

                // also play sound (some buzzing maybe) when switching to light animation
            ),
        ),
    }
)
