#![enable(implicit_some)]
(
    types: {
        "MovingPlatform": (
            spritesheet_filename: "colors.png",

            entity: (
                components: [
                    Hitbox(Size),
                    Animation([
                        (3, 1000),
                    ]),
                    Velocity((
                        x: 0.0,
                        y: 0.0,
                    )),
                    SolidPusher(()),
                    MovementAcceleration((
                        x: 500.0,
                        y: 500.0,
                    )),
                    MaxMovementVelocity((
                        x: 10.0,
                        y: 10.0,
                    )),
                ],

                variants: {
                    "DelayedMoveUp": (
                        events: {
                            Delay(3000): EntityAction(SwitchVariant("MoveUp")),
                        },
                    ),
                    "DelayedMoveDown": (
                        events: {
                            Delay(3000): EntityAction(SwitchVariant("MoveDown")),
                        },
                    ),

                    "MoveUp": (
                        components: [
                            Walker((
                                y: Up,
                            )),
                        ],
                        events: {
                            Delay(10000): EntityAction(SwitchVariant("MoveDown")),
                        },
                    ),
                    "MoveDown": (
                        components: [
                            Walker((
                                y: Down,
                            )),
                        ],
                        events: {
                            Delay(10000): EntityAction(SwitchVariant("MoveUp")),
                        },
                    ),
                    "MoveLeft": (
                        components: [
                            Walker((
                                x: Left,
                            )),
                        ],
                        events: {
                            Delay(10000): EntityAction(SwitchVariant("MoveRight")),
                        },
                    ),
                    "MoveRight": (
                        components: [
                            Walker((
                                x: Right,
                            )),
                        ],
                        events: {
                            Delay(10000): EntityAction(SwitchVariant("MoveLeft")),
                        },
                    ),
                },

                collision_tag: (
                    labels: ["Solid"],
                ),

                solid_tag: (
                    labels: ["Solid", "Pushable"],
                    collides_with: ["Player", "Enemy", "Pushable"],
                ),
            ),
        ),
    }
)
