#![enable(implicit_some)]
(
    types: {
        "PushableBlock": (
            spritesheet_filename: "colors.png",

            entity: (
                components: (
                    // Pusher stuff
                    solid_pusher: (),
                    solid_pushable: (),

                    // Tries to snap position to whole integer when moving.
                    non_precise_movement: (),

                    // Entity loading/unloading stuff
                    loader: (
                        loading_distance: (256.0, 256.0),
                    ),
                    loadable: (
                        padding: (0.0, 0.0),
                    ),

                    hitbox: Size,
                    animation: [
                        (4, 3000),
                    ],
                    velocity: (
                        x: 0.0,
                        y: 0.0,
                    ),
                    gravity: (
                        y: -800.0,
                    ),
                    health: (
                        health: 3,
                        max_health: 3,
                    ),
                    health_display: (
                        position: Top,
                        size: (
                            24.0,
                            4.0,
                        ),
                        padding: 4.0,
                        border_padding: 1.0,
                    ),
                ),

                events: {
                    OnCollision(And([IsTag("Bullet"), IsState(Enter)])):
                        HealthAction(Lose(1)),
                },

                collision_tag: (
                    labels: ["Solid", "Pushable"],
                    collides_with: ["Solid", "Bullet", "Pusher"],
                ),

                solid_tag: (
                    labels: ["Solid", "Pushable"],
                    collides_with: ["Solid", "Pusher", "Pushable", "Enemy"],
                ),
            ),
        ),
    }
)
