#![enable(implicit_some)]
(
    types: {
        "PushableBlock": (
            spritesheet_filename: "colors.png",

            entity: (
                components: [
                    // Pusher stuff
                    SolidPusher(()),
                    SolidPushable(()),

                    // Tries to snap position to whole integer when moving.
                    NonPreciseMovement(()),

                    // Entity loading/unloading stuff
                    Loader((
                        loading_distance: (32.0, 32.0),
                    )),
                    Loadable((
                        padding: (0.0, 0.0),
                    )),

                    Hitbox(Size),
                    Animation([
                        (4, 3000),
                    ]),
                    Velocity((
                        x: 0.0,
                        y: 0.0,
                    )),
                    Gravity((
                        y: -800.0,
                    )),
                    Health((
                        health: 3,
                        max_health: 3,
                    )),
                    HealthDisplay((
                        position: Top,
                        size: (
                            24.0,
                            4.0,
                        ),
                        padding: 4.0,
                        border_padding: 1.0,
                    )),
                ],

                events: {
                    OnCollision(And([IsTag("Bullet"), IsState(Enter)])):
                        HealthAction(Lose(1)),
                },

                collision_tag: (
                    labels: ["Solid", "Pushable"],
                    collides_with: ["Solid", "Bullet", "Pusher"],
                ),

                solid_tag: (
                    labels: ["Solid", "Pushable"],
                    collides_with: ["Solid", "Pusher", "Pushable", "Enemy"],
                ),
            ),
        ),
    }
)
