#![enable(implicit_some)]
(
    types: {
        "PushableBlock": (
            spritesheet_filename: "colors.png",

            entity: (
                components: (
                    solid_pushable: (),
                    hitbox: Size,
                    animation: [
                        (4, 3000),
                    ],
                    velocity: (
                        x: 0.0,
                        y: 0.0,
                    ),
                    gravity: (
                        y: -800.0,
                    ),
                ),

                collision_tag: (
                    labels: ["Solid", "Pushable"],
                ),

                solid_tag: (
                    labels: ["Solid", "Pushable"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
