// src/settings/player_bullet_settings.rs

#![enable(implicit_some)]
/// Player bullet settings.
(

    spritesheet: "player_bullet.png",
    entity: (
        size: (
            w: 6,
            h: 6,
        ),

        components: [
            /// The bullet's size.
            Hitbox(Size),
            /// Bullet velocity (x, y).
            /// Both axes should be positive, are inverted in-game, if necessary.
            Velocity((
                x: 250.0,
                y: 0.0,
            )),
            /// Bullet animation frames.
            Animation([
                (0, 100),
                (1, 100),
                (2, 100),
                (1, 100),
            ]),
            DeathOnContact((
                collides_with: ["Solid", "Enemy"],
            )),
            DeathAfterDelay((
                delay_ms: 2_000,
            )),
        ],

        /// Set the `default_variant` to use one of the bullet variants below.
        /// Possible variants: "Swerve", "Mortar", "Rocket", "Skipper"
        // default_variant: "Swerve",

        variants: {
            "Random": (
                events: {
                    Init: Group([
                        Random((
                            chance: 0.25,
                            on_success: EntityAction(SwitchVariant("Swerve")),
                            on_failure: Group([
                                Random((
                                    chance: 0.25,
                                    on_success: EntityAction(SwitchVariant("Mortar")),
                                    on_failure: Group([
                                        Random((
                                            chance: 0.25,
                                            on_success: EntityAction(SwitchVariant("Rocket")),
                                        )),
                                    ]),
                                )),
                            ]),
                        )),
                    ]),
                },
            ),

            "Swerve": (
                events: {
                    Init: EntityAction(SwitchVariant("SwerveUp")),
                },
            ),
            "SwerveUp": (
                events: {
                    Init: MoveAction(SetVelocity( y: 0.0 )),
                    Interval(1): MoveAction(AddVelocity( y: 10.0, )),
                    Delay(200): EntityAction(SwitchVariant("SwerveDown")),
                },
            ),
            "SwerveDown": (
                events: {
                    Init: MoveAction(SetVelocity( y: 0.0 )),
                    Interval(1): MoveAction(AddVelocity( y: -10.0, )),
                    Delay(200): EntityAction(SwitchVariant("SwerveUp")),
                },
            ),

            "Mortar": (
                size: (
                    w: 12.0,
                    h: 12.0,
                ),
                components: [
                    Velocity((
                        x: 150.0,
                        y: 200.0,
                    )),
                    Gravity((
                        y: -500.0,
                    )),
                    Hitbox(Size),
                ],
                events: {
                    OnCollision(IsState(Enter)): Group([
                        SpawnAction(SpawnRelative((
                            object: (
                                type: PlayerBullet,
                                pos: (x: -4.0, y: 8.0),
                                size: (w: 4.0, h: 4.0),
                                props: {
                                    "variant": "MortarShard",
                                    "dir_x": -1.0,
                                },
                            ),
                        ))),
                        SpawnAction(SpawnRelative((
                            object: (
                                type: PlayerBullet,
                                pos: (x: 4.0, y: 8.0),
                                size: (w: 4.0, h: 4.0),
                                props: {
                                    "variant": "MortarShard",
                                    "dir_x": 1.0,
                                },
                            ),
                        ))),
                    ]),
                },
            ),
            "MortarShard": (
                size: (
                    w: 4.0,
                    h: 4.0,
                ),
                components: [
                    Velocity((
                        x: 75.0,
                        y: 100.0,
                    )),
                    Gravity((
                        y: -500.0,
                    )),
                    Hitbox(Size),
                ],
            ),

            "Rocket": (
                size: (
                    w: 24.0,
                    h: 12.0,
                ),
                components: [
                    Velocity((
                        x: 0.0,
                        y: 100.0,
                    )),
                ],
                events: {
                    Interval(300): Group([
                        SpawnAction(SpawnRelative((
                            object: (
                                type: PlayerBullet,
                                pos: (x: 0.0, y: 0.0),
                                size: (w: 8.0, h: 8.0),
                                props: {
                                    "variant": "RocketShard0",
                                    "dir_x": -1.0,
                                },
                            ),
                        ))),
                        SpawnAction(SpawnRelative((
                            object: (
                                type: PlayerBullet,
                                pos: (x: 0.0, y: 0.0),
                                size: (w: 8.0, h: 8.0),
                                props: {
                                    "variant": "RocketShard0",
                                    "dir_x": 1.0,
                                },
                            ),
                        ))),
                        SpawnAction(SpawnRelative((
                            object: (
                                type: PlayerBullet,
                                pos: (x: 0.0, y: 0.0),
                                size: (w: 8.0, h: 8.0),
                                props: {
                                    "variant": "RocketShard1",
                                    "dir_x": -1.0,
                                },
                            ),
                        ))),
                        SpawnAction(SpawnRelative((
                            object: (
                                type: PlayerBullet,
                                pos: (x: 0.0, y: 0.0),
                                size: (w: 8.0, h: 8.0),
                                props: {
                                    "variant": "RocketShard1",
                                    "dir_x": 1.0,
                                },
                            ),
                        ))),
                        SpawnAction(SpawnRelative((
                            object: (
                                type: PlayerBullet,
                                pos: (x: 0.0, y: 0.0),
                                size: (w: 8.0, h: 8.0),
                                props: {
                                    "variant": "RocketShard2",
                                    "dir_x": -1.0,
                                },
                            ),
                        ))),
                        SpawnAction(SpawnRelative((
                            object: (
                                type: PlayerBullet,
                                pos: (x: 0.0, y: 0.0),
                                size: (w: 8.0, h: 8.0),
                                props: {
                                    "variant": "RocketShard2",
                                    "dir_x": 1.0,
                                },
                            ),
                        ))),
                    ]),
                },
            ),
            "RocketShard0": (
                size: (
                    w: 6.0,
                    h: 6.0,
                ),
                components: [
                    Velocity((
                        x: 50.0,
                        y: 0.0,
                    )),
                    Gravity((
                        y: -500.0,
                    )),
                    Hitbox(Size),
                ],
            ),
            "RocketShard1": (
                size: (
                    w: 6.0,
                    h: 6.0,
                ),

                components: [
                    Velocity((
                        x: 100.0,
                        y: 0.0,
                    )),
                    Gravity((
                        y: -500.0,
                    )),
                    Hitbox(Size),
                ],
            ),
            "RocketShard2": (
                size: (
                    w: 6.0,
                    h: 6.0,
                ),

                components: [
                    Velocity((
                        x: 150.0,
                        y: 0.0,
                    )),
                    Gravity((
                        y: -500.0,
                    )),
                    Hitbox(Size),
                ],
            ),

            "Skipper": (
                components: [
                    Velocity((
                        x: 100.0,
                        y: 200.0,
                    )),
                    Gravity((
                        y: -1000.0,
                    )),
                    DeathOnContact((
                        collides_with: [],
                    )),
                ],
                events: {
                    OnCollision(And([IsState(Enter), Or([IsSide(Bottom), IsSide(InnerSide( y: Bottom ))])])):
                        MoveAction(SetVelocity( y: 200.0 )),
                    OnCollision(And([IsState(Enter), Or([IsSide(Left), IsSide(InnerSide( x: Left ))])])):
                        MoveAction(SetVelocity( x: 100.0, y: 200.0 )),
                    OnCollision(And([IsState(Enter), Or([IsSide(Right), IsSide(InnerSide( x: Right ))])])):
                        MoveAction(SetVelocity( x: -100.0, y: 200.0 )),
                },
                solid_tag: (
                    labels: ["PlayerBullet"],
                    collides_with: ["Solid"],
                ),
            ),
        },

        /// Collision tag for spawned bullets.
        /// The bullet will destroy itself when it collides with an entity
        /// with a label from `collides_with`.
        collision_tag: (
            labels: ["Bullet"],
            collides_with: ["Tile", "Solid", "Enemy"],
        ),
    ),
)
