<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../deathframe_audio/components/prelude/enum.SoundAction.html">
</head>
<body>
    <p>Redirecting to <a href="../../../../deathframe_audio/components/prelude/enum.SoundAction.html">../../../../deathframe_audio/components/prelude/enum.SoundAction.html</a>...</p>
    <script>location.replace("../../../../deathframe_audio/components/prelude/enum.SoundAction.html" + location.search + location.hash);</script>
</body>
</html>