#![enable(implicit_some)]
(
    types: {
        "ConsumableHealth": (
            spritesheet_filename: "explosion.png",

            entity: (
                size: (
                    w: 16.0,
                    h: 16.0,
                ),

                components: [
                    Animation([
                        (2, 1000),
                    ]),
                    Hitbox(Size),
                    Interactable(()),
                ],

                events: {
                    OnInteract: If((
                        if: Equal(
                            Player(HasFullHealth),
                            false,
                        ),
                        then: Group([
                            // Function "PickupHealth" defined in player entity config.
                            PlayerAction(Call("PickupHealth")),
                            EntityAction(DeleteEntity),
                        ]),
                    )),
                },

                collision_tag: (
                    labels: ["Consumable"],
                    collides_with: [],
                ),
            ),
        ),
    }
)
