#![enable(implicit_some)]
(
    types: {
        "ConsumableHealth": (
            spritesheet_filename: "explosion.png",

            entity: (
                components: (
                    size: (w: 16.0, h: 16.0),
                    animation: [
                        (2, 1000),
                    ],
                    hitbox: Size,
                    interactable: (),
                ),

                events: {
                    OnInteract: If((
                        if: Equal(
                            Player(HasFullHealth),
                            false,
                        ),
                        then: Group([
                            // Function "PickupHealth" defined in player entity config.
                            PlayerAction(Call("PickupHealth")),
                            EntityAction(DeleteEntity),
                        ]),
                    )),
                },

                collision_tag: (
                    labels: ["Consumable"],
                    collides_with: [],
                ),
            ),
        ),
    }
)
