#![enable(implicit_some)]
(
    types: {
        "ConsumableHealth": (
            spritesheet_filename: "explosion.png",

            entity: (
                components: (
                    size: (w: 16.0, h: 16.0),
                    animation: [
                        (2, 1000),
                    ],
                    hitbox: Size,
                    interactable: (),
                ),

                events: {
                    OnInteract: If((
                        if: LessThan(Player(Health), 50.0),
                        then: Group([
                            PlayerAction(HealthAction(Gain(10))),
                            EntityAction(DeleteEntity),
                        ]),
                    )),
                },

                collision_tag: (
                    labels: ["Consumable"],
                    collides_with: [],
                ),
            ),
        ),
    }
)
