#![enable(implicit_some)]
(
    types: {
        "Door0": (
            spritesheet_filename: "environment_vent_grey_closed.png",

            entity: (
                inherits: ["Door"],

                components: [
                    Hitbox(Size),
                    Animations({
                        Idle: Cycle([
                            (0, 200),
                            (1, 200),
                            (2, 200),
                        ]),
                        Custom("Open"): Cycle([
                            (0, 1000),
                        ]),
                    }),
                ],
            ),
        ),
    }
)
