#![enable(implicit_some)]
(
    types: {
        "Door0": (
            spritesheet_filename: "environment_vent_grey_closed.png",

            entity: (
                inherits: ["Door"],

                components: [
                    Hitbox(Size),
                    Animations({
                        Idle: Cycle([
                            (0, 200),
                            (1, 200),
                            (2, 200),
                        ]),
                        Custom("Open"): Cycle([
                            (0, 1000),
                        ]),
                    }),
                ],

                events: {
                    Function("Open"): ForeignEntityAction((
                        selector: ( object: Enemy("Door1Enemy") ),
                        action: Call("Activate"),
                    )),
                    Function("Close"): ForeignEntityAction((
                        selector: ( object: Enemy("Door1Enemy") ),
                        action: Call("Deactivate"),
                    )),
                },
            ),
        ),
    }
)
