<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../deathframe_core/components/component_helpers/prelude/trait.ActionQueue.html">
</head>
<body>
    <p>Redirecting to <a href="../../../../deathframe_core/components/component_helpers/prelude/trait.ActionQueue.html">../../../../deathframe_core/components/component_helpers/prelude/trait.ActionQueue.html</a>...</p>
    <script>location.replace("../../../../deathframe_core/components/component_helpers/prelude/trait.ActionQueue.html" + location.search + location.hash);</script>
</body>
</html>