List((texture_width:144,texture_height:24,sprites:[(x:0,y:0,width:16,height:24,),(x:16,y:0,width:16,height:24,),(x:32,y:0,width:16,height:24,),(x:48,y:0,width:16,height:24,),(x:64,y:0,width:16,height:24,),(x:80,y:0,width:16,height:24,),(x:96,y:0,width:16,height:24,),(x:112,y:0,width:16,height:24,),(x:128,y:0,width:16,height:24,),],))