List((texture_width:240,texture_height:40,sprites:[(x:0,y:0,width:40,height:40,),(x:40,y:0,width:40,height:40,),(x:80,y:0,width:40,height:40,),(x:120,y:0,width:40,height:40,),(x:160,y:0,width:40,height:40,),(x:200,y:0,width:40,height:40,),],))