List((texture_width:16,texture_height:2,sprites:[(x:0,y:0,width:2,height:2,),(x:2,y:0,width:2,height:2,),(x:4,y:0,width:2,height:2,),(x:6,y:0,width:2,height:2,),(x:8,y:0,width:2,height:2,),(x:10,y:0,width:2,height:2,),(x:12,y:0,width:2,height:2,),(x:14,y:0,width:2,height:2,),],))