List((texture_width:1920,texture_height:64,sprites:[(x:0,y:0,width:1920,height:8,),(x:0,y:8,width:1920,height:8,),(x:0,y:16,width:1920,height:8,),(x:0,y:24,width:1920,height:8,),(x:0,y:32,width:1920,height:8,),(x:0,y:40,width:1920,height:8,),(x:0,y:48,width:1920,height:8,),(x:0,y:56,width:1920,height:8,),],))