#![enable(implicit_some)]
(
    types: {
        "BgTest1.1": (
            spritesheet: "bg/bg_test1.1.png",
            entity: (),
        ),
        "BgTest2": (
            spritesheet: "bg/bg_test2.png",
            entity: (),
        ),
        "BgTest2.4": (
            spritesheet: "bg/bg_test2.4.png",
            entity: (),
        ),
        "BgTest3.4": (
            spritesheet: "bg/bg_test3.4.png",
            entity: (),
        ),
        "BgTest4.4": (
            spritesheet: "bg/bg_test4.4.png",
            entity: (),
        ),
        "BgTest4.5": (
            spritesheet: "bg/bg_test4.5.png",
            entity: (),
        ),
        "BgTest4.6": (
            spritesheet: "bg/bg_test4.6.png",
            entity: (),
        ),
        "BgTest4.91": (
            spritesheet: "bg/bg_test4.91.png",
            entity: (),
        ),
    },
)
