#![enable(implicit_some)]
/// Enemies settings.
(
    types: {
        "Normal": (
            /// Filename of this enemy's spritesheet,
            /// under `resources/spritesheets`.
            spritesheet_filename: "player.png",

            /// List of components for this enemy.
            /// All components are optional.
            components: (
                /// If this is not set, uses tiled object size.
                size: (
                    w: 16.0,
                    h: 32.0,
                ),
                gravity: (
                    x: None,
                    y: -400.0,
                ),
                max_movement_velocity: (
                    x: 100.0,
                    y: 200.0,
                ),
                base_friction: (
                    friction_x: 1000.0,
                    friction_y: None,
                ),
                animations: {
                    Idle: Cycle([
                        (13, 500),
                        (14, 500),
                    ]),
                    Walk: Cycle([
                        (4, 100),
                        (5, 100),
                        (6, 100),
                    ]),
                },
                hitbox: Size,
                walker: (
                    x: 100.0,
                    y: None,
                ),
            ),

            /// Events and the actions they trigger.
            events: {
                OnSpawn: Echo("Hello OnSpawn event!"),
            },

            /// Specifies with which `SolidTag`s this enemy has
            /// _solid_ collision (separate from _general_ collision (`CollisionTag`)).
            ///
            /// This makes the player have solid collision with the player.
            /// (They can get stuck in each other, not recommended;
            /// this is just to showcase the `solid_collision_with` field.)
            ///
            /// Enemies always have solid collision with _tiles_ (`CollisionTag::Tiles`).
            /// TODO: Maybe they should not collide with tiles by default?
            ///       Then we can have _even more control_ via configs!
            ///       We could make enemies that pass through tiles!
            solid_collision_with: [Player],
        ),

        "SpringyBoy": (
            spritesheet_filename: "player.png",

            components: (
                size: (w: 32.0, h: 16.0),
                gravity: (x: None, y: -400.0),
                max_movement_velocity: (x: 200.0, y: 200.0),
                base_friction: (friction_x: 1000.0, friction_y: None),
                hitbox: Size,

                jumppad: (
                    strength: (None, 200.0,),
                ),
            ),

            /// Specifies with which `CollisionTag`s this enemy has
            /// _general_ collision (separate from _solid_ collision).
            /// If this is not set, the player will not be able to jump
            /// off of this enemy (because this enemy is `Jumppad`).
            collision_with: [Player],
        ),

        "DontTouchMe": (
            spritesheet_filename: "player.png",

            components: (
                size: (w: 8.0, h: 16.0),
                gravity: (x: None, y: -200.0),
                max_movement_velocity: (x: 200.0, y: 200.0),
                base_friction: (friction_x: 1000.0, friction_y: None),
                hitbox: Size,
            ),

            events: {
                OnSpawn: Group([
                    Echo("Nobody dare touch me..."),
                    Echo("Nobody dare touch me..."),
                    Echo("Nobody dare touch me..."),
                ]),

                // OnCollision(None): Echo("..."),

                OnCollision(
                    And([
                        IsState(Enter),
                        IsTag(Player),
                    ])
                ): Echo("Don't touch me!"),

                OnCollision(
                    And([
                        Or([IsSide(Left), IsSide(Right)]),
                        IsTag(Player),
                    ])
                ): Echo("Leave my sides alone!"),

                OnCollision(
                    And([
                        IsSide(Top),
                        IsTag(Player),
                    ])
                ): Echo("Get off of my head!"),
            },

            collision_with: [Player],
        ),
    }
)
