#![enable(implicit_some)]
/// Enemies settings.
(
    types: {
        Normal: (
            /// Filename of this enemy's spritesheet,
            /// under `resources/spritesheets`.
            spritesheet_filename: "player.png",
            /// List of components for this enemy.
            /// All components are optional.
            components: (
                /// If this is not set, uses tiled object size.
                size: (
                    w: 16.0,
                    h: 32.0,
                ),
                gravity: (
                    x: 0.0,
                    y: -100.0,
                ),
                max_movement_velocity: (
                    x: 100.0,
                    y: 200.0,
                ),
                base_friction: (
                    friction_x: 1000.0,
                    friction_y: None,
                ),
                animations: {
                    Idle: Cycle([
                        (13, 500),
                        (14, 500),
                    ]),
                    Walk: Cycle([
                        (4, 100),
                        (5, 100),
                        (6, 100),
                    ]),
                },
                hitbox: Size,
            ),
        ),
    }
)
