// src/settings/general_settings.rs
#![enable(implicit_some)]
/// General game and initialization settings.
(
    audio: (
        /// The default volume level to use for _sounds_.
        /// Volume used for `SoundAction::Play`.
        sounds_default_volume: 0.5,
        /// Volume for BGM.
        songs_volume: 0.5,
    ),

    loader_system: (
        /// I think the cache causes more lag than it prevents.
        use_cache: false,
    ),

    physics: (
        /// When applying friction, if velocity is equal to or below this value,
        /// then just set the velocity to 0 instead of running friction math.
        base_friction_velocity_margin: 1.0,
    ),

    debug: (
        fps_sample_size: 20,
    ),
)
