#![enable(implicit_some)]
/// General game and initialization settings.
(
    loader_system: (
        /// I think the cache causes more lag than it prevents.
        use_cache: false,
    ),

    debug: (
        fps_sample_size: 20,
    ),
)
