// src/settings/level_settings.rs

#![enable(implicit_some)]
(
    levels: [
        "dev.json",
        "level.json",
        "level1.json",
        "level2.json",
        "level3.json",
        "rubber_ball_room.json",
        "testlevel4.1.json",
        "testlevel1.json",
        "testlevel3.json",
        "testlevel3.1.json",
        "testlevel3.4.json",
        "testlevel3backwards.json",
        "testlevel4.json",
        "testlevel4.2.json",
        "testlevel5.json",
        "testlevel6.json",
        "testmap1.1.json",
        "testmap1.json",
        "testmap2.json",
        "testmap3.json",
        "testmap4.json",
        "testmap5.json",
        "testmap6.json",
        "testmap7.json",
        "level4.json",
    ],
)
