// src/settings/level_settings.rs

#![enable(implicit_some)]
(
    // Relative to `resources/levels/`
    levels: [
        "dev.json",
        "debug_moving_platforms.json",
        "dev_camera_path.json",
        "musha.json",
        "organic/mixed1.json",
        "organic/mixed2.json",
        "organic/mixed3.json",
        "organic/mixed4.json",
        "organic/purple1.json",
        "organic/purple2.json",
        "organic/orange1.json",
        "organic/brown1.json",
        "level9.json",
        "level10.json",
        "level11.json",
        "level12.json",
        "level13.json",
        "level14.1.json",
        "level15.json",
        "level16.json",
        "testlevel_sandstone1.json",
        "cell_test0.json",
    ],
)
