// src/settings/level_settings.rs

#![enable(implicit_some)]
(
    // Relative to `resources/levels/`
    levels: [
        "dev.json",
        "dev_camera_path.json",
        "organic/mixed1.json",
        "organic/mixed2.json",
        "organic/mixed3.json",
        "organic/mixed4.json",
        "organic/purple1.json",
        "organic/purple2.json",
        "organic/orange1.json",
        "organic/brown1.json",
        "level1.json",
        "level2.json",
        "level3.json",
        "level4.json",
        "level5.json",
        "level6.json",
        "level7.json",
        "level8.json",
        "level9.json",
        "level10.json",
        "level11.json",
        "level12.json",
        "level13.json",
        "level14.json",
        "level15.json",
        "level16.json",
    ],
)
