// src/settings/player_bullet_settings.rs
#![enable(implicit_some)]
/// Player bullet settings.
(

    spritesheet: "player_bullet.png",
    /// Bullet data.
    bullet: (
        /// Despawn the bullet after this amount of milliseconds.
        despawn_after_ms: 10_000,
    ),
    entity: (
        components: (
            /// The bullet's size.
            size: (
                w: 6,
                h: 6,
            ),
            hitbox: Size,
            /// Bullet velocity (x, y).
            /// Both axes should be positive, are inverted in-game, if necessary.
            velocity: (
                x: 250.0,
                y: 0.0,
            ),
            /// Bullet animation frames.
            animation: [
                (0, 100),
                (1, 100),
                (2, 100),
                (1, 100),
            ],
        ),

        /// Collision tag for spawned bullets.
        /// The bullet will destroy itself when it collides with an entity
        /// with a label from `collides_with`.
        collision_tag: (
            labels: ["Bullet"],
            collides_with: ["Tile", "Enemy"],
        ),
    ),
)
