#![enable(implicit_some)]
/// Player settings.
(
    /// The player's in-game size.
    size: (
        width:  32.0,
        height: 64.0,
    ),

    /// The player's acceleration.
    acceleration:  (1000.0, 2000.0),

    /// The player's physics data; anything involving physics.
    /// NOTE: Max speed is `acceleration / damping`.
    physics: (
        max_velocity:  None,
        damping:       0.0,
        mass:          1.0, // NOTE: Player's mass is ignored when applying force
        has_gravity:   true,
        body_status:   Dynamic,
        shape:         Cuboid(
            half_width:  15.99,
            half_height: 31.99,
        ),
        friction:      0.0,
        restitution:   0.0,
        solid_margin:  0.01,
    ),
)
