#![enable(implicit_some)]
/// Player settings.
(
    /// The player's in-game size.
    size: (
        width:  16.0,
        height: 32.0,
    ),
    /// The player's movement data; anything involving velocity.
    movement: (
        acceleration:       (400.0, 1600.0),
        max_velocity:       (200.0, 500.0),
        base_friction:      (50.0, None),
        /// The normal gravity.
        gravity:            (None, -800.0),
        /// The gravity applied only when jumping (holding down the jump button).
        jump_gravity:       (None, -400.0),
        /// The velocity boost when jumping.
        jump_strength:      300.0,
        /// The velocity boost, when releasing the jump button after jumping.
        /// Should be negative.
        jump_kill_strength: -100.0,
        /// The minimum amount of upwards velocity the player should
        /// at least still have, after killing their jump.
        min_jump_velocity:  50.0,
    ),
    /// The player's hitbox.
    // hitbox: Size,
    hitbox: Custom([
        (
           top:    12.0,
           bottom: -16.0,
           left:   -8.0,
           right:  8.0,
        ),
    ]),
)
