#![enable(implicit_some)]
/// Player settings.
(
    /// The player's in-game size.
    size: (
        width:  16.0,
        height: 32.0,
    ),
    /// The player's movement data; anything involving velocity.
    movement: (
        acceleration:  (500.0, 1600.0),
        max_velocity:  (500.0, 500.0),
        base_friction: (1.0, None),
        gravity:       (None, -800.0),
    ),
    /// The player's hitbox.
    // hitbox: Size,
    hitbox: Custom([
        (
           top:    15.9,
           bottom: -15.9,
           left:   -7.9,
           right:  7.9,
        ),
    ]),
)
