#![enable(implicit_some)]
/// Tile settings.
(
    types: {
        /// Solid ground.
        Ground: (
            hitbox: Size,
        ),

        /// Small solid ground.
        /// For themes/DFCA1.png concept art image.
        SGround: (
            hitbox: Custom([
                (
                   top:    6.0,
                   bottom: -5.0,
                   left:   -8.0,
                   right:  8.0,
                ),
            ]),
        ),

        /// For themes/DFCA1.png concept art image.
        WeirdGround: (
            hitbox: Custom([
                (
                   top:    11.0,
                   bottom: -4.0,
                   left:   -12.0,
                   right:  7.0,
                ),
            ]),
        ),

        /// Tile with weird hitbox, just playing around here.
        Weird: (
            hitbox: Custom([
                (
                   top:    16.0,
                   bottom: -8.0,
                   left:   -32.0,
                   right:  0.0,
                ),
                (
                   top:    8.0,
                   bottom: -32.0,
                   left:   0.0,
                   right:  32.0,
                ),
            ]),
        ),

        /// Non-solid tile. Just testing stuff.
        Passable: (
            hitbox: None,
        ),
    },
)
