#![enable(implicit_some)]
(
    types: {
        "Explosion": (
            spritesheet_filename: "explosion.png",

            entity: (
                components: (
                    size: (w: 64.0, h: 64.0),
                    animation: [
                        (0, 100),
                        (1, 100),
                        (2, 100),
                        (3, 100),
                        (4, 100),
                        (5, 100),
                        (6, 100),
                        (7, 100),
                    ],
                    hitbox: Size,
                    deals_damage: (
                        damage: 4,
                    ),
                    death_after_delay: (
                        delay_ms: 800,
                    ),
                ),

                collision_tag: (
                    labels: ["EnemyBullet"],
                    collides_with: ["Player", "Solid"],
                ),
            ),
        ),
    }
)
