#![enable(implicit_some)]
(
    types: {
        "DevDelayInterval": (
            spritesheet_filename: "enemy_normal.png",

            entity: (
                components: (
                    size: (
                        w: 16.0,
                        h: 24.0,
                    ),
                    max_movement_velocity: (
                        x: 0.0,
                        y: 200.0,
                    ),
                    base_friction: (
                        friction_x: 1000.0,
                        friction_y: 1000.0,
                    ),
                    animations: {
                        Idle: Cycle([
                            (13, 500),
                            (14, 500),
                        ]),
                        Walk: Cycle([
                            (4, 100),
                            (5, 100),
                            (6, 100),
                        ]),
                    },
                    hitbox: Size,
                ),

                events: {
                    Interval(500): Echo("Hello"),
                    Interval(1000): Echo("World"),
                },

                variants: {
                    "Delay": (
                        events: {
                            OnSpawn: EntityAction(SwitchVariant("DelayUp")),
                        },
                    ),
                    "DelayUp": (
                        components: (
                            walker: (
                                y: 100.0,
                            ),
                        ),
                        events: {
                            Delay(3000): EntityAction(SwitchVariant("DelayDown")),
                            Interval(100): Echo("Hello from variant DelayUp"),
                        },
                    ),
                    "DelayDown": (
                        components: (
                            walker: (
                                y: -100.0,
                            ),
                        ),
                        events: {
                            Delay(3000): EntityAction(SwitchVariant("DelayUp")),
                            Interval(100): Echo("Hello from variant DelayDown"),
                        },
                    ),
                },

                collision_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Player", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
