#![enable(implicit_some)]
/// Enemies settings.
(
    types: {
        "RubberBall": (
            spritesheet_filename: "player.png",

            components: (
                size: (w: 8.0, h: 8.0),
                gravity: (x: None, y: -100.0),
                hitbox: Size,
            ),

            events: {
                OnCollision(IsSide(Left)):   MoveAction(AddVelocity( x: 100.0, )),
                OnCollision(IsSide(Right)):  MoveAction(AddVelocity( x: -100.0, )),
                OnCollision(IsSide(Top)):    MoveAction(AddVelocity( y: -100.0, )),
                OnCollision(IsSide(Bottom)): MoveAction(AddVelocity( y: 100.0, )),
            },

            collision_with: [Player, Tile, Jumppad, Enemy],
            solid_collision_with: [Tile, Player],
        ),
    }
)
