#![enable(implicit_some)]
/// Enemies settings.
(
    types: {
        "RubberBall": (
            spritesheet_filename: "player.png",

            components: (
                size: (w: 8.0, h: 8.0),
                gravity: (x: None, y: -100.0),
                hitbox: Size,
            ),

            events: {
                OnCollision(IsSide(Left)):   MoveAction(AddVelocity( x: 100.0, )),
                OnCollision(IsSide(Right)):  MoveAction(AddVelocity( x: -100.0, )),
                OnCollision(IsSide(Top)):    MoveAction(AddVelocity( y: -100.0, )),
                OnCollision(IsSide(Bottom)): MoveAction(AddVelocity( y: 100.0, )),

                OnCollision(And([
                    Or([IsSide(Top), IsSide(Bottom)]),
                    IsState(Enter),
                    IsTag(Player),
                ])): Echo("COMPLEX COLLISION BORTHER!"),
            },

            collision_tag: (
                labels: [Enemy, Solid],
                collides_with: [Player, Solid, Jumppad, Enemy],
            ),

            solid_tag: (
                labels: [Enemy, Solid],
                collides_with: [Tile, Player],
            ),
        ),
    }
)
