#![enable(implicit_some)]
(
    types: {
        "PlayerDodge": (
            variants: {
                "Control": (
                    events: {
                        OnKeyDown(Custom("Dodge")): If((
                            if: Not(Equal(Variant(), "Dodge")),
                            then: EntityAction(PushVariant("Dodge")),
                        )),
                    },
                ),

                "Dodge": (
                    collision_tag: (
                        labels: ["Player", "Pusher"],
                        collides_with: ["Tile", "Solid", "Jumppad", "Consumable"],
                    ),

                    components: [
                        TakesDamage(None),
                        Gravity(None),
                        BaseFriction(None),
                        Animations({
                            Walk: Cycle([
                                (4, 1000),
                            ]),
                        }),
                    ],

                    events: {
                        Init: Group([
                            ControlAction(SetControllable(false)),
                            If((
                                if: Equal(
                                    Facing(),
                                    "Left",
                                ),
                                then: MoveAction(SetVelocity(x: -250.0, y: 0.0)),
                                else: MoveAction(SetVelocity(x:  250.0, y: 0.0)),
                            )),
                        ]),
                        Delay(250): EntityAction(PopVariant),
                    },
                ),
            },
        ),
    },
)
