#![enable(implicit_some)]
(
    types: {
        "BigBilly": (
            spritesheet_filename: "enemy_tank.png",

            entity: (
                inherits: ["Walker"],

                components: (
                    size: (
                        w: 64.0,
                        h: 64.0,
                    ),
                    gravity: (
                        x: None,
                        y: -400.0,
                    ),
                    max_movement_velocity: (
                        x: 500.0,
                        y: 200.0,
                    ),
                    base_friction: (
                        friction_x: 1000.0,
                    ),
                    animations: {
                        Walk: Cycle([
                            (0, 50),
                            (1, 50),
                            (2, 50),
                            (3, 50),
                            (4, 50),
                            (5, 50),
                        ]),
                    },
                    hitbox: Custom([
                        (
                            top:    24.0,
                            bottom: -32.0,
                            left:   -20.0,
                            right:  20.0,
                        ),
                    ]),
                    health: (
                        health: 12,
                        max_health: 12,
                    ),
                    health_display: (
                        position: Top,
                        size: (32.0, 2.0),
                        padding: 4.0,
                        border_padding: 0.5,
                    ),
                    deals_damage: (
                        damage: 5,
                    ),
                    movement_acceleration: (
                        x: 250.0,
                    ),
                ),

                events: {
                    OnCollision(And([IsTag("Bullet"), IsState(Enter)])):
                        HealthAction(Lose(1)),
                },

                variants: {
                    "WalkLeft": (
                        events: {
                            Interval(1000): Group([
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("BillyBullet"),
                                        pos: (x: -24.0, y: -9.0),
                                        size: (w: 1.0, h: 1.0),
                                        props: {
                                            "variant": "Left",
                                        },
                                    ),
                                ))),
                                MoveAction(AddVelocity(
                                    x: 200.0,
                                    y: 0.0,
                                )),
                            ]),
                         },
                    ),
                    "WalkRight": (
                        events: {
                            Interval(1000): Group([
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("BillyBullet"),
                                        pos: (x: 24.0, y: -9.0),
                                        size: (w: 1.0, h: 1.0),
                                        props: {
                                            "variant": "Right",
                                        },
                                    ),
                                ))),
                                MoveAction(AddVelocity(
                                    x: -200.0,
                                    y: 0.0,
                                )),
                            ]),
                        },
                    ),
                },

                collision_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Player", "Solid", "Jumppad", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
