#![enable(implicit_some)]
(
    types: {
        "BigBilly": (
            spritesheet_filename: "enemy_tank.png",

            entity: (
                inherits: ["Enemy", "Walker"],

                size: (
                    w: 64.0,
                    h: 64.0,
                ),

                components: [
                    Gravity((
                        y: -400.0,
                    )),
                    MaxMovementVelocity((
                        x: 500.0,
                        y: 200.0,
                    )),
                    MovementAcceleration((
                        x: 250.0,
                    )),
                    Animations({
                        Walk: Cycle([
                            (0, 50),
                            (1, 50),
                            (2, 50),
                            (3, 50),
                            (4, 50),
                            (5, 50),
                        ]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    24.0,
                            bottom: -32.0,
                            left:   -20.0,
                            right:  20.0,
                        ),
                    ])),
                    Health((
                        health: 12,
                        max_health: 12,
                    )),
                    DealsDamage((
                        damage: 5,
                    )),
                ],

                variants: {
                    "WalkLeft": (
                        events: {
                            Interval(1000): Group([
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("BillyBullet"),
                                        pos: (x: -24.0, y: -9.0),
                                        size: (w: 1.0, h: 1.0),
                                        props: {
                                            "variant": "Left",
                                        },
                                    ),
                                ))),
                                MoveAction(AddVelocity(
                                    x: 200.0,
                                    y: 0.0,
                                )),
                            ]),
                         },
                    ),
                    "WalkRight": (
                        events: {
                            Interval(1000): Group([
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("BillyBullet"),
                                        pos: (x: 24.0, y: -9.0),
                                        size: (w: 1.0, h: 1.0),
                                        props: {
                                            "variant": "Right",
                                        },
                                    ),
                                ))),
                                MoveAction(AddVelocity(
                                    x: -200.0,
                                    y: 0.0,
                                )),
                            ]),
                        },
                    ),
                },
            ),
        ),
    }
)
