#![enable(implicit_some)]
(
    types: {
        "BounceBoy": (
            spritesheet_filename: "enemy_bounceboy.png",

            entity: (
                inherits: ["Enemy", "Walker"],

                size: (
                    w: 32.0,
                    h: 32.0,
                ),

                components: [
                    MaxMovementVelocity((
                        x: 100.0,
                        y: 100.0,
                    )),
                    Animations({
                        Walk: Cycle([
                            (0, 120),
                            (1, 120),
                            (2, 120),
                            (3, 120),
                        ]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    4.0,
                            bottom: -16.0,
                            left:   -6.0,
                            right:  6.0,
                        ),
                    ])),
                    Health((
                        health: 6,
                        max_health: 6,
                    )),
                ],

                events: {
                    OnCollision(And([
                        IsTag("Player"),
                        IsState(Enter),
                        Or([
                            IsSide(Top),
                            IsSide(InnerSide(y: Top)),
                        ]),
                        Not(Or([
                            IsSide(Bottom),
                            IsSide(InnerSide(y: Bottom)),
                        ])),
                    ])): PlayerAction(MoveAction(
                        SetVelocity(y: 500.0),
                    )),

                    OnCollision(And([
                        IsTag("Player"),
                        IsState(Enter),
                        Or([
                            IsSide(Bottom),
                            IsSide(InnerSide(y: Bottom)),
                        ]),
                        Not(Or([
                            IsSide(Top),
                            IsSide(InnerSide(y: Top)),
                        ])),
                    ])): PlayerAction(
                        HealthAction(Lose(10)),
                    ),
                },

                default_variant: "WalkRight",
            ),
        ),
    }
)
