#![enable(implicit_some)]
(
    types: {
        "BounceBoy": (
            spritesheet_filename: "enemy_bounceboy.png",

            entity: (
                inherits: ["Walker"],

                components: (
                    size: (
                        w: 32.0,
                        h: 32.0,
                    ),
                    gravity: (
                        x: None,
                        y: -900.0,
                    ),
                    max_movement_velocity: (
                        x: 100.0,
                        y: 100.0,
                    ),
                    base_friction: (
                        friction_x: 1000.0,
                    ),
                    animations: {
                        Walk: Cycle([
                            (0, 120),
                            (1, 120),
                            (2, 120),
                            (3, 120),
                        ]),
                    },
                    hitbox: Custom([
                        (
                            top:    4.0,
                            bottom: -16.0,
                            left:   -6.0,
                            right:  6.0,
                        ),
                    ]),
                    health: (
                        health: 6,
                        max_health: 6,
                    ),
                    health_display: (
                        position: Top,
                        size: (32.0, 2.0),
                        padding: 4.0,
                        border_padding: 0.5,
                    ),
                    movement_acceleration: (
                        x: 500.0,
                    ),
                ),

                events: {
                    OnCollision(And([IsTag("Bullet"), IsState(Enter)])):
                        HealthAction(Lose(1)),

                    OnCollision(And([
                        IsTag("Player"),
                        IsState(Enter),
                        Or([
                            IsSide(Top),
                            IsSide(InnerSide(y: Top)),
                        ]),
                        Not(Or([
                            IsSide(Bottom),
                            IsSide(InnerSide(y: Bottom)),
                        ])),
                    ])): PlayerAction(MoveAction(
                        SetVelocity(y: 500.0),
                    )),

                    OnCollision(And([
                        IsTag("Player"),
                        IsState(Enter),
                        Or([
                            IsSide(Bottom),
                            IsSide(InnerSide(y: Bottom)),
                        ]),
                        Not(Or([
                            IsSide(Top),
                            IsSide(InnerSide(y: Top)),
                        ])),
                    ])): PlayerAction(
                        HealthAction(Lose(10)),
                    ),
                },

                default_variant: "WalkRight",

                collision_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Player", "Solid", "Jumppad", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
