#![enable(implicit_some)]
(
    types: {
        "Discharger": (
            spritesheet_filename: "enemy_discharger.png",

            entity: (
                inherits: ["Enemy", "Walker"],

                size: (
                    w: 16.0,
                    h: 24.0,
                ),

                components: [
                    Animations({
                        Walk: Cycle([
                            (0, 150),
                        ]),
                        Custom("Face"): Once([
                            (1, 1200),
                        ]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    8.0,
                            bottom: -12.0,
                            left:   -7.0,
                            right:  7.0,
                        ),
                    ])),
                    Health((
                        health: 5,
                        max_health: 5,
                    )),
                    DealsDamage((
                        damage: 1,
                    )),
                ],

                variants: {
                    // DEPRECATED
                    "RightMove": (
                        events: {
                            Init: EntityAction(SwitchVariant("WalkRight")),
                        },
                    ),
                    // DEPRECATED
                    "LeftMove": (
                        events: {
                            Init: EntityAction(SwitchVariant("WalkLeft")),
                        },
                    ),

                    "WalkLeft": (
                        events: {
                            OnLedgeDetect(BottomLeft, Bottom):
                                EntityAction(SwitchVariant("WalkRight")),
                            OnCollision(And([
                                    IsTag("Solid"),
                                    IsState(Enter),
                                    IsSide(Left),
                                ])): EntityAction(SwitchVariant("WalkRight")),
                            Delay(2000): EntityAction(PushVariant("Discharge")),
                        },
                    ),
                    "WalkRight": (
                        events: {
                            OnLedgeDetect(BottomRight, Bottom):
                                    EntityAction(SwitchVariant("WalkLeft")),
                            OnCollision(And([
                                    IsTag("Solid"),
                                    IsState(Enter),
                                    IsSide(Right),
                                ])): EntityAction(SwitchVariant("WalkLeft")),
                            Delay(2000): EntityAction(PushVariant("Discharge")),
                        },
                    ),
                    "Discharge": (
                        components: [
                            Walker(None),
                        ],
                        events: {
                            Init: Group([
                                AnimationAction(Push(Custom("Face"))),
                                MoveAction(SetVelocity(
                                    x: 0.0,
                                    y: 0.0,
                                )),
                            ]),
                            Delay(600): Group([
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ProjectileDischarge"),
                                        pos: (x: -6.0, y: 10.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Left",
                                        },
                                    ),
                                ))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ProjectileDischarge"),
                                        pos: (x: 6.0, y: 10.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Right",
                                        },
                                    ),
                                ))),
                            ]),
                            OnAnimationEnd(Custom("Face")):
                                EntityAction(PopVariant),
                        },
                    ),
                },
            ),
        ),
    }
)
