#![enable(implicit_some)]
(
    types: {
        "FloatingJump": (
            spritesheet_filename: "player.png",

            entity: (
                inherits: ["Enemy"],

                size: (
                    w: 32.0,
                    h: 16.0,
                ),

                components: [
                    MaxMovementVelocity((
                        x: 200.0,
                        y: 200.0,
                    )),
                    Animations({
                        Idle: Cycle([
                            (13, 500),
                            (14, 500),
                        ]),
                        Walk: Cycle([
                            (4, 100),
                            (5, 100),
                            (6, 100),
                        ]),
                    }),
                    Hitbox(Size),
                    Jumppad((
                        strength: (None, 600.0),
                    )),
                    Health((
                        health: 6,
                        max_health: 6,
                    )),
                    Walker((
                        x: Right,
                    )),
                ],

                events: {
                    OnCollision(And([
                        IsSide(Right),
                        IsState(Enter),
                    ])): Group([
                        InsertComponents([
                            Walker((
                                x: Left,
                            )),
                        ]),
                    ]),

                    OnCollision(And([
                        IsSide(Left),
                        IsState(Enter),
                    ])): Group([
                        InsertComponents([
                            Walker((
                                x: Right,
                            )),
                        ]),
                    ]),

                },
            ),
        ),
    }
)
