#![enable(implicit_some)]
(
    types: {
        "JumpingBattery": (
            spritesheet_filename: "enemy_jumping_battery.png",

            entity: (
                inherits: ["Enemy"],

                size: (
                    w: 24.0,
                    h: 48.0,
                ),

                components: [
                    Animations({
                        Idle: Cycle([
                            (1, 1000),
                        ]),
                        Custom("Jump"): Cycle([
                            (0, 1000),
                        ]),
                    }),
                    Gravity((
                        y: -400.0,
                    )),
                    MaxMovementVelocity((
                        x: 65.0,
                        y: 250.0,
                    )),
                    Health((
                        health: 6,
                        max_health: 6,
                    )),
                    DealsDamage((
                        damage: 2,
                    )),
                ],

                default_variant: "Sit",

                variants: {
                    "Sit": (
                        components: [
                            Hitbox(Custom([
                                (
                                    top:    10.0,
                                    bottom: -24.0,
                                    left:   -9.0,
                                    right:  9.0,
                                ),
                            ])),
                        ],
                        events: {
                            Init: MoveAction(SetVelocity(
                                x: 0.0,
                                y: 0.0,
                            )),
                            Delay(2000): EntityAction(SwitchVariant("Jump")),
                        },
                    ),
                    "Jump": (
                        components: [
                            Hitbox(Custom([
                                (
                                    top:    16.0,
                                    bottom: -24.0,
                                    left:   -9.0,
                                    right:  9.0,
                                ),
                            ])),
                        ],
                        events: {
                            Init: Group([
                                SoundAction(PlayWithVolume(Jump, 0.5)),
                                AnimationAction(Push(Custom("Jump"))),
                                Random((
                                    chance: 0.5,
                                    on_success: MoveAction(SetVelocity(
                                        x: 200.0,
                                        y: 400.0,
                                    )),
                                    on_failure: MoveAction(SetVelocity(
                                        x: -200.0,
                                        y: 400.0,
                                    )),
                                )),
                            ]),
                            OnCollision(And([IsTag("Solid"), IsState(Enter), IsSide(Bottom)])): Group([
                                AnimationAction(Pop),
                                EntityAction(SwitchVariant("Sit")),
                                SoundAction(PlayWithVolume(Shoot, 0.5)),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ProjectileDischarge"),
                                        pos: (x: 0.0, y: -16.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Left",
                                        },
                                    ),
                                ))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ProjectileDischarge"),
                                        pos: (x: 0.0, y: -16.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Right",
                                        },
                                    ),
                                ))),
                            ]),
                        },
                    ),
                },
            ),
        ),
    }
)
