#![enable(implicit_some)]
(
    types: {
        "JumpingCan": (
            spritesheet_filename: "enemy_jumping_can_blue.png",

            entity: (
                inherits: ["Enemy", "EnemyJumper"],

                size: (
                    w: 24.0,
                    h: 24.0,
                ),

                components: [
                    Animations({
                        Idle: Cycle([
                            (2, 1000),
                        ]),
                        Custom("Jump"): Cycle([
                            (0, 1000),
                        ]),
                        Custom("Peek"): Once([
                            (3, 100),
                            (4, 200),
                            (5, 50),
                            (6, 50),
                            (7, 300),
                            (6, 50),
                            (5, 50),
                            (4, 100),
                            (3, 100),
                        ])
                    }),
                    BaseFriction(None),
                    Health((
                        health: 4,
                        max_health: 4,
                    )),
                    DealsDamage((
                        damage: 2,
                    )),
                ],

                default_variant: "Sit",

                variants: {
                    "Sit": (
                        components: [
                            Hitbox(Custom([
                                (
                                    top:    -1.0,
                                    bottom: -12.0,
                                    left:   -5.0,
                                    right:   5.0,
                                ),
                            ])),
                        ],
                        events: {
                            Init: MoveAction(SetVelocity(
                                x: 0.0,
                                y: 0.0,
                            )),
                            Delay(400): AnimationAction(Push(Custom("Peek"))),
                            OnAnimationEnd(Custom("Peek")): EntityAction(SwitchVariant("Jump")),
                        },
                    ),
                    "Jump": (
                        components: [
                            Hitbox(Custom([
                                (
                                    top:     4.0,
                                    bottom: -12.0,
                                    left:   -5.0,
                                    right:   5.0,
                                ),
                            ])),
                        ],
                        events: {
                            Init: Group([
                                SoundAction(PlayWithVolume(Jump, 0.5)),
                                AnimationAction(Push(Custom("Jump"))),

                                Random((
                                    chance: 0.5,
                                    on_success: Call("JumpLeft"),  // <-|
                                    on_failure: Call("JumpRight"), // <-|
                                )),                                //   |- These functions come from `EnemyJumper` abstract config.
                            ]),
                            OnCollision(And([IsTag("Solid"), IsState(Enter), IsSide(Bottom)])): Group([
                                AnimationAction(Pop),
                                EntityAction(SwitchVariant("Sit")),
                            ]),
                        },
                    ),
                },
            ),
        ),
    }
)
