#![enable(implicit_some)]
(
    types: {
        "Kamikaze": (
            spritesheet_filename: "enemy_kamikaze.png",

            entity: (
                size: (
                    w: 24.0,
                    h: 32.0,
                ),

                components: [
                    Animations({
                        Walk: Cycle([
                            (3, 150),
                            (4, 150),
                            (5, 150),
                            (4, 150),
                        ]),
                        Death: Once([
                            (6, 200),
                            (7, 200),
                            (8, 200),
                            (9, 200),
                            (10, 200),
                        ]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    10.0,
                            bottom: -16.0,
                            left:   -10.0,
                            right:  10.0,
                        ),
                    ])),
                    Health((
                        health: 2,
                        max_health: 2,
                    )),
                    MovementAcceleration((
                        x: 800.0,
                    )),
                ],

                events: {
                    OnCollision(And([
                        IsState(Enter),
                        Or([
                            IsTag("Player"),
                            And([
                                IsTag("Solid"),
                                Or([IsSide(Left), IsSide(Right)]),
                            ]),
                        ]),
                    ])): LifecycleAction(Die),

                    OnDeath: SpawnAction(SpawnRelative((
                        object: (
                            type: Custom("Explosion"),
                            pos: (x: 0.0, y: 0.0),
                            size: (w: 16.0, h: 16.0),
                            props: {
                                "z": 0.6,
                            },
                        ),
                    ))),
                },

                default_variant: "Left",

                variants: {
                    "Left": (
                        components: [
                            Walker((
                                x: Left,
                            )),
                        ],
                    ),
                    "Right": (
                        components: [
                            Walker((
                                x: Right,
                            )),
                        ],
                    ),
                },
            ),
        ),
    }
)
