#![enable(implicit_some)]
(
    types: {
        "KamikazeDrone": (
            spritesheet_filename: "enemy_kamikaze_drone.png",

            entity: (
                inherits: ["Enemy"],

                size: (
                    w: 16.0,
                    h: 16.0,
                ),

                components: [
                    Gravity(None),
                    MaxMovementVelocity((
                        x: 300.0,
                        y: 300.0,
                    )),
                    Animations({
                        Walk: Cycle([
                            (0, 150),
                            (1, 150),
                            (2, 150),
                            (3, 150),
                        ]),
                        // Stupid workaround for OnDeath events to trigger.
                        Death: Once([]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    2.0,
                            bottom: -2.0,
                            left:   -2.0,
                            right:  2.0,
                        ),
                    ])),
                    Health((
                        health: 1,
                        max_health: 1,
                    )),
                    DealsDamage((
                        damage: 1,
                    )),
                ],

                default_variant: "Left",

                variants: {
                    "Left": (
                        // Init: MoveAction(SetVelocity(x: -300, y: -150 )),
                        components: [
                            Velocity((
                                x: -350.0,
                                y: -180.0,
                            )),
                        ],
                    ),
                },

                events: {
                    OnCollision(And([
                        IsState(Enter),
                        Or([
                            IsTag("Player"),
                            IsTag("Solid"),
                        ]),
                    ])): LifecycleAction(Die),

                    OnDeath: SpawnAction(SpawnRelative((
                        object: (
                            type: Custom("ExplosionSmall"),
                            pos: (x: 0.0, y: 0.0),
                            size: (w: 16.0, h: 16.0),
                            props: {
                                "z": 0.6,
                            },
                        ),
                    ))),
                },
            ),
        ),
    }
)
