#![enable(implicit_some)]
(
    types: {
        "UfoSmallTriple": (
            spritesheet_filename: "enemy_ufo_triple.png",

            entity: (
                components: (
                    size: (
                        w: 16.0,
                        h: 16.0,
                    ),
                    max_movement_velocity: (
                        x: 100.0,
                        y: 100.0,
                    ),
                    base_friction: (
                        friction_x: 1000.0,
                    ),
                    animations: {
                        Walk: Cycle([
                            (0, 150),
                            (1, 150),
                            (2, 150),
                            (3, 150),
                        ]),
                    },
                    hitbox: Custom([
                        (
                            top:    7.0,
                            bottom: -7.0,
                            left:   -7.0,
                            right:  7.0,
                        ),
                    ]),
                    health: (
                        health: 5,
                        max_health: 5,
                    ),
                    health_display: (
                        position: Top,
                        size: (32.0, 2.0),
                        padding: 4.0,
                        border_padding: 0.5,
                    ),
                    deals_damage: (
                        damage: 1,
                    ),
                    movement_acceleration: (
                        x: 500.0,
                    ),
                ),

                events: {
                    OnCollision(And([IsTag("Bullet"), IsState(Enter)])):
                        HealthAction(Lose(1)),
                },

                variants: {
                    "Left": (
                        components: (
                            walker: (
                                x: Left,
                            ),
                        ),
                        events: {
                            OnCollision(And([
                                    IsTag("Solid"),
                                    IsState(Enter),
                                    IsSide(Left),
                                ])): EntityAction(SwitchVariant("Right")),
                            Interval(1200): Group([
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ShooterBullet"),
                                        pos: (x: 0.0, y: -10.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Down",
                                        },
                                    ),
                                ))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ShooterBullet"),
                                        pos: (x: -6.0, y: -10.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "LeftDownDia",
                                        },
                                    ),
                                ))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ShooterBullet"),
                                        pos: (x: 6.0, y: -10.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "RightDownDia",
                                        },
                                    ),
                                ))),
                            ]),
                         },
                    ),
                    "Right": (
                        components: (
                            walker: (
                                x: Right,
                            ),
                        ),
                        events: {
                            OnCollision(And([
                                    IsTag("Solid"),
                                    IsState(Enter),
                                    IsSide(Right),
                                ])): EntityAction(SwitchVariant("Left")),
                            Interval(1200): Group([
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ShooterBullet"),
                                        pos: (x: 0.0, y: -10.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Down",
                                        },
                                    ),
                                ))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ShooterBullet"),
                                        pos: (x: -6.0, y: -10.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "LeftDownDia",
                                        },
                                    ),
                                ))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ShooterBullet"),
                                        pos: (x: 6.0, y: -10.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "RightDownDia",
                                        },
                                    ),
                                ))),
                            ]),
                        },
                    ),
                },

                collision_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Player", "Solid", "Jumppad", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
