#![enable(implicit_some)]
(
    types: {
        "RubberTank": (
            spritesheet_filename: "enemy_rubber_tank.png",

            entity: (
                inherits: ["Enemy", "Walker"],

                size: (
                    w: 48.0,
                    h: 48.0,
                ),

                components: [
                    MaxMovementVelocity((
                        x: 30.0,
                    )),
                    Animations({
                        Walk: Cycle([
                            (0, 100),
                            (1, 100),
                            (2, 100),
                            (3, 100),
                        ]),
                        Custom("Shoot"): Once([
                            (6,  20),
                            (7,  20),
                            (8,  20),
                            (9,  20),
                            (10, 20),
                            (11, 120),
                            (10, 70),
                            (9,  70),
                            (8,  70),
                            (7,  70),
                            (6,  70),
                        ]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    10.0,
                            bottom: -24.0,
                            left:   -20.0,
                            right:  20.0,
                        ),
                    ])),
                    Health((
                        health: 10,
                        max_health: 10,
                    )),
                    DealsDamage((
                        damage: 5,
                    )),
                    MovementAcceleration((
                        x: 120.0,
                    )),
                ],

                default_variant: "WalkLeft",

                variants: {
                    "WalkLeft": (
                        events: {
                            Delay(1800): Group([
                                MoveAction(SetVelocity(x: 0.0)),
                                InsertComponents([
                                    Walker((
                                        x: None,
                                    )),
                                ]),
                                AnimationAction(Push(Custom("Shoot"))),
                            ]),
                            Delay(2000): Group([
                                AnimationAction(Push(Custom("Shoot"))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ProjectileRubber"),
                                        pos: (x: 0.0, y: 0.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Left",
                                        },
                                    ),
                                ))),
                            ]),
                            OnAnimationEnd(Custom("Shoot")):
                                EntityAction(SwitchVariant("WalkLeft"))
                        },
                    ),

                    "WalkRight": (
                        events: {
                            Delay(1800): Group([
                                MoveAction(SetVelocity(x: 0.0)),
                                InsertComponents([
                                    Walker((
                                        x: None,
                                    )),
                                ]),
                            ]),
                            Delay(2000): Group([
                                AnimationAction(Push(Custom("Shoot"))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ProjectileRubber"),
                                        pos: (x: 0.0, y: 0.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Right",
                                        },
                                    ),
                                ))),
                            ]),
                            OnAnimationEnd(Custom("Shoot")):
                                EntityAction(SwitchVariant("WalkRight"))
                        },
                    ),
                },
            ),
        ),
    }
)
