#![enable(implicit_some)]
(
    types: {
        "RubberTank": (
            spritesheet_filename: "enemy_rubber_tank.png",

            entity: (
                inherits: ["Walker"],

                components: (
                    size: (
                        w: 48.0,
                        h: 48.0,
                    ),
                    gravity: (
                        y: -900.0,
                    ),
                    max_movement_velocity: (
                        x: 30.0,
                        y: 200.0,
                    ),
                    base_friction: (
                        friction_x: 1000.0,
                    ),
                    animations: {
                        Walk: Cycle([
                            (0, 100),
                            (1, 100),
                            (2, 100),
                            (3, 100),
                        ]),
                        Custom("Shoot"): Once([
                            (6,  20),
                            (7,  20),
                            (8,  20),
                            (9,  20),
                            (10, 20),
                            (11, 120),
                            (10, 70),
                            (9,  70),
                            (8,  70),
                            (7,  70),
                            (6,  70),
                        ]),
                    },
                    hitbox: Custom([
                        (
                            top:    10.0,
                            bottom: -24.0,
                            left:   -20.0,
                            right:  20.0,
                        ),
                    ]),
                    health: (
                        health: 10,
                        max_health: 10,
                    ),
                    health_display: (
                        position: Top,
                        size: (32.0, 2.0),
                        padding: 4.0,
                        border_padding: 0.5,
                    ),
                    deals_damage: (
                        damage: 5,
                    ),
                    movement_acceleration: (
                        x: 120.0,
                    ),
                ),

                events: {
                    OnCollision(And([IsTag("Bullet"), IsState(Enter)])):
                        HealthAction(Lose(1)),
                },

                default_variant: "WalkLeft",

                variants: {
                    "WalkLeft": (
                        events: {
                            Delay(1800): Group([
                                MoveAction(SetVelocity(x: 0.0)),
                                InsertComponents((
                                    walker: (
                                        x: None,
                                    ),
                                )),
                                AnimationAction(Push(Custom("Shoot"))),
                            ]),
                            Delay(2000): Group([
                                AnimationAction(Push(Custom("Shoot"))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ProjectileRubber"),
                                        pos: (x: 0.0, y: 0.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Left",
                                        },
                                    ),
                                ))),
                            ]),
                            OnAnimationEnd(Custom("Shoot")):
                                EntityAction(SwitchVariant("WalkLeft"))
                        },
                    ),

                    "WalkRight": (
                        events: {
                            Delay(1800): Group([
                                MoveAction(SetVelocity(x: 0.0)),
                                InsertComponents((
                                    walker: (
                                        x: None,
                                    ),
                                )),
                            ]),
                            Delay(2000): Group([
                                AnimationAction(Push(Custom("Shoot"))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ProjectileRubber"),
                                        pos: (x: 0.0, y: 0.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Right",
                                        },
                                    ),
                                ))),
                            ]),
                            OnAnimationEnd(Custom("Shoot")):
                                EntityAction(SwitchVariant("WalkRight"))
                        },
                    ),
                },

                collision_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Player", "Solid", "Jumppad", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
