#![enable(implicit_some)]
(
    types: {
        "Runner": (
            spritesheet_filename: "enemy_runner_blue.png",

            entity: (
                inherits: ["Enemy", "Walker"],

                size: (
                    w: 40.0,
                    h: 40.0,
                ),

                components: [
                    Animations({
                        Idle: Cycle([
                            (1, 150),
                        ]),
                        Walk: Cycle([
                            (0, 90),
                            (1, 90),
                            (2, 90),
                            (3, 90),
                        ]),
                        Death: Once([
                            (5, 50),
                        ]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    4.0,
                            bottom: -20.0,
                            left:   -10.0,
                            right:  10.0,
                        )
                    ])),
                    Health((
                        health: 3,
                        max_health: 3,
                    )),
                    DealsDamage((
                        damage: 4,
                    )),
                ],

                events: {
                    OnCollision(
                        And([
                            IsSide(Left),
                            IsTag("Player"),
                        ]),
                    ): MoveAction(AddVelocity(
                        x: 500.0,
                        y: 0,
                    )),

                    OnCollision(
                        And([
                            IsSide(Right),
                            IsTag("Player"),
                        ]),
                    ): MoveAction(AddVelocity(
                        x: -500.0,
                        y: 0,
                    )),

                    OnCollision(
                        And([
                            IsTag("Bullet"),
                            IsState(Enter),
                        ]),
                    ): Group([
                        SoundAction(PlayWithVolume(Jump, 0.3)),
                        MoveAction(AddVelocity(
                            y: 50.0,
                        )),
                        HealthAction(Lose(1)),
                    ]),
                },

                default_variant: "WalkLeft",
            ),
        ),
    }
)
