#![enable(implicit_some)]
(
    types: {
        "Shooter": (
            spritesheet_filename: "enemy_shooter.png",

            entity: (
                inherits: ["Enemy", "Walker"],

                size: (
                    w: 48.0,
                    h: 48.0,
                ),

                components: [
                    Animations({
                        Walk: Cycle([
                            (0, 150),
                            (1, 150),
                            (2, 150),
                            (3, 150),
                        ]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    12.0,
                            bottom: -24.0,
                            left:   -12.0,
                            right:  12.0,
                        ),
                    ])),
                    Health((
                        health: 5,
                        max_health: 5,
                    )),
                    DealsDamage((
                        damage: 1,
                    )),
                ],

                variants: {
                    "Left": (
                        events: {
                            Init: EntityAction(SwitchVariant("WalkLeft")),
                        }
                    ),
                    "Right": (
                        events: {
                            Init: EntityAction(SwitchVariant("WalkRight")),
                        }
                    ),

                    "WalkLeft": (
                        events: {
                            Interval(1000): SpawnAction(SpawnRelative((
                                object: (
                                    type: Custom("ShooterBullet"),
                                    pos: (x: -24.0, y: -4.0),
                                    size: (w: 16.0, h: 16.0),
                                    props: {
                                        "variant": "Left",
                                    },
                                ),
                            ))),
                        },
                    ),
                    "WalkRight": (
                        events: {
                            Interval(1000): SpawnAction(SpawnRelative((
                                object: (
                                    type: Custom("ShooterBullet"),
                                    pos: (x: 24.0, y: -4.0),
                                    size: (w: 16.0, h: 16.0),
                                    props: {
                                        "variant": "Right",
                                    },
                                ),
                            ))),
                        },
                    ),
                },
            ),
        ),
    }
)
