#![enable(implicit_some)]
(
    types: {
        "Sneezer": (
            spritesheet_filename: "enemy_sneezer.png",

            entity: (
                inherits: ["Enemy", "EnemyJumper"],

                size: (
                    w: 32.0,
                    h: 32.0,
                ),

                components: [
                    Animations({
                        Idle: Cycle([
                            (1, 1000),
                        ]),
                        Custom("Jump"): Cycle([
                            (0, 1000),
                        ]),
                    }),
                    Health((
                        health: 6,
                        max_health: 6,
                    )),
                    DealsDamage((
                        damage: 2,
                    )),
                    BaseFriction(None),
                ],

                default_variant: "Sit",

                variants: {
                    "Sit": (
                        components: [
                            Hitbox(Custom([
                                (
                                    top:    -1.0,
                                    bottom: -16.0,
                                    left:   -12.0,
                                    right:  11.0,
                                ),
                            ])),
                        ],
                        events: {
                            Init: MoveAction(SetVelocity(
                                x: 0.0,
                                y: 0.0,
                            )),
                            Delay(1700): EntityAction(SwitchVariant("Jump")),
                        },
                    ),
                    "Jump": (
                        components: [
                            Hitbox(Custom([
                                (
                                    top:    8.0,
                                    bottom: -16.0,
                                    left:   -12.0,
                                    right:  11.0,
                                ),
                            ])),
                        ],
                        events: {
                            Init: Group([
                                SoundAction(PlayWithVolume(Jump, 0.5)),
                                AnimationAction(Push(Custom("Jump"))),
                                Random((
                                    chance: 0.5,
                                    on_success: Call("JumpLeft"),
                                    on_failure: Call("JumpRight"),
                                )),
                            ]),
                            OnCollision(And([IsTag("Solid"), IsState(Enter), IsSide(Bottom)])): Group([
                                AnimationAction(Pop),
                                EntityAction(SwitchVariant("Sit")),
                                SoundAction(PlayWithVolume(Shoot, 0.5)),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ShooterBullet"),
                                        pos: (x: -4.0, y: -4.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Left",
                                        },
                                    ),
                                ))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ShooterBullet"),
                                        pos: (x: 4.0, y: -4.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Right",
                                        },
                                    ),
                                ))),
                            ]),
                        },
                    ),
                },
            ),
        ),
    }
)
