#![enable(implicit_some)]
(
    types: {
        "Spike": (
            spritesheet_filename: "empty.png",

            entity: (
                components: [
                    Hitbox(Size),
                    DealsDamage((
                        damage: 6,
                    )),
                ],

                collision_tag: (
                    labels: ["Solid", "Tile"],
                ),

                solid_tag: (
                    labels: ["Solid", "Tile"],
                ),
            ),
        ),
    }
)
