#![enable(implicit_some)]
(
    types: {
        "TowerBlueTest": (
            spritesheet_filename: "enemy_tower_blue_walk.png",

            entity: (
                inherits: ["Enemy"],

                size: (
                    w: 32.0,
                    h: 64.0,
                ),

                components: [
                    Animations({
                        Idle: Cycle([
                            (3, 150),
                            (5, 150),
                        ]),
                        Walk: Cycle([
                            (0, 150),
                            (1, 150),
                            (3, 150),
                            (4, 150),
                            (5, 150),
                        ]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    16.0,
                            bottom: -32.0,
                            left:   -8.0,
                            right:  8.0,
                        )
                    ])),
                    Health((
                        health: 3,
                        max_health: 3,
                    )),
                    DealsDamage((
                        damage: 4,
                    )),
                    Walker((
                        x: Right,
                    )),
                ],

                events: {
                    OnCollision(
                        And([
                            IsSide(Left),
                            IsTag("Player"),
                        ]),
                    ): MoveAction(AddVelocity(
                        x: 500.0,
                        y: 200.0,
                    )),

                    OnCollision(
                        And([
                            IsSide(Right),
                            IsTag("Player"),
                        ]),
                    ): MoveAction(AddVelocity(
                        x: -500.0,
                        y: 200.0,
                    )),

                    OnCollision(And([
                        Or([IsSide(Right), IsSide(InnerSide( x: Right ))]),
                        IsState(Enter),
                    ])): Group([
                        InsertComponents([
                            Walker((
                                x: Left,
                            )),
                        ]),
                    ]),

                    OnCollision(And([
                        Or([IsSide(Left), IsSide(InnerSide( x: Left ))]),
                        IsState(Enter),
                    ])): Group([
                        InsertComponents([
                            Walker((
                                x: Right,
                            )),
                        ]),
                    ]),
                },
            ),
        ),
    }
)
