#![enable(implicit_some)]
(
    types: {
        "TurretBasicHorizontal": (
            spritesheet_filename: "enemy_turret_basic_horizontal.png",

            entity: (
                // This enemy doesn't need to inherit `Enemy` config.
                inherits: [],

                size: (
                    w: 32.0,
                    h: 16.0,
                ),

                components: [
                    Animations({
                        Custom("Default"): Once([
                            (0, 800),
                        ]),
                        Custom("Charge"):Once([
                            (1, 120),
                            (2, 120),
                            (3, 120),
                        ]),
                        Custom("Reset"): Once([
                            (4, 40),
                            (5, 40),
                            (6, 40),
                            (7, 40),
                            (8, 40),
                            (9, 40),
                            (15, 120),
                            (14, 120),
                            (13, 120),
                            (12, 120),
                            (11, 120),
                            (10, 120),
                        ]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    12.0,
                            bottom: -24.0,
                            left:   -12.0,
                            right:  12.0,
                        ),
                    ])),
                ],

                default_variant: "Default",

                variants: {
                    "Default": (
                        events: {
                            Init: AnimationAction(Push(Custom("Default"))),
                            OnAnimationEnd(Custom("Default")): EntityAction(SwitchVariant("Charge")),
                        }
                    ),

                    "Charge": (
                        events: {
                            Init: AnimationAction(Push(Custom("Charge"))),
                            OnAnimationEnd(Custom("Charge")): EntityAction(SwitchVariant("Left")),
                        }
                    ),

                    "Left": (
                        events: {
                            Init: Group([
                                AnimationAction(Push(Custom("Reset"))),
                                SpawnAction(SpawnRelative((
                                    object: (
                                        type: Custom("ShooterBullet"),
                                        pos: (x: -16.0, y: 0.0),
                                        size: (w: 16.0, h: 16.0),
                                        props: {
                                            "variant": "Left",
                                        },
                                    ),
                                ))),
                            ]),
                            OnAnimationEnd(Custom("Reset")): EntityAction(SwitchVariant("Default")),
                        },
                    ),

                    "Right": (
                        events: {
                            Interval(1000): SpawnAction(SpawnRelative((
                                object: (
                                    type: Custom("ShooterBullet"),
                                    pos: (x: 16.0, y: 0.0),
                                    size: (w: 16.0, h: 16.0),
                                    props: {
                                        "variant": "Right",
                                    },
                                ),
                            ))),
                        },
                    ),
                },

                collision_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Player", "Bullet", "Solid", "Jumppad"],
                ),
            ),
        ),
    }
)
