#![enable(implicit_some)]
(
    types: {
        "UfoSmallRapid": (
            spritesheet_filename: "enemy_ufo_small.png",

            entity: (
                inherits: ["EnemyUfo"],

                events: {
                    Interval(80): Call("ShootBullet"),
                },
            ),
        ),
    }
)
