#![enable(implicit_some)]
(
    types: {
        "UnstableUFO": (
            spritesheet_filename: "enemy_unstable_ufo.png",

            entity: (
                inherits: ["Enemy"],

                size: (
                    w: 16.0,
                    h: 16.0,
                ),

                components: [
                    Animations({
                        Walk: Cycle([
                            (0, 150),
                            (1, 150),
                            (2, 150),
                            (3, 150),
                        ]),
                        // Workaround for OnDeath event.
                        Death: Once([]),
                    }),
                    Hitbox(Custom([
                        (
                            top:    2.0,
                            bottom: -2.0,
                            left:   -2.0,
                            right:  2.0,
                        ),
                    ])),
                    Health((
                        health: 1,
                        max_health: 1,
                    )),
                    DealsDamage((
                        damage: 1,
                    )),
                    Gravity(None),
                ],

                events: {
                    OnCollision(And([
                        IsState(Enter),
                        Or([
                            IsTag("Player"),
                            IsTag("Solid"),
                        ]),
                    ])): LifecycleAction(Die),

                    OnDeath: SpawnAction(SpawnRelative((
                        object: (
                            type: Custom("Explosion"),
                            pos: (x: 0.0, y: 0.0),
                            size: (w: 16.0, h: 16.0),
                            props: {
                                "z": 0.6,
                            },
                        ),
                    ))),
                },

                default_variant: "Left",

                variants: {
                    "Left": (
                        components: [
                            Walker((
                                x: Left,
                            )),
                        ],
                        events: {
                            Init: EntityAction(SwitchVariant("SwerveUp")),
                        },
                    ),

                    "Right": (
                        components: [
                            Walker((
                                x: Right,
                            )),
                        ],
                        events: {
                            Init: EntityAction(SwitchVariant("SwerveUp")),
                        },
                    ),

                    "SwerveUp": (
                        events: {
                            Init: MoveAction(SetVelocity(y: 0.0)),
                            Interval(2): MoveAction(AddVelocity(y: 6.0)),
                            Delay(500): EntityAction(SwitchVariant("SwerveDown")),
                        },
                    ),

                    "SwerveDown": (
                        events: {
                            Init: MoveAction(SetVelocity(y: 0.0)),
                            Interval(2): MoveAction(AddVelocity(y: -6.0)),
                            Delay(500): EntityAction(SwitchVariant("SwerveUp")),
                        },
                    ),
                },
            ),
        ),
    }
)
