// src/settings/player_bullet_settings.rs
#![enable(implicit_some)]
(

    types: {
        "MushaPlayerBullet": (
            spritesheet: "player_bullet.png",
            entity: (
                size: (
                    w: 6,
                    h: 6,
                ),

                components: [
                    Hitbox(Size),
                    Velocity((
                        x: 0.0,
                        y: 250.0,
                    )),
                    /// Bullet animation frames.
                    Animation([
                        (0, 100),
                        (1, 100),
                        (2, 100),
                        (1, 100),
                    ]),
                    DeathOnContact((
                        collides_with: ["Solid", "Enemy"],
                    )),
                    DeathAfterDelay((
                        delay_ms: 2_000,
                    )),
                ],

                collision_tag: (
                    labels: ["Bullet"],
                    collides_with: ["Tile", "Solid", "Enemy"],
                ),
            ),
        ),
    },
)
