#![enable(implicit_some)]
//! Default physics for all enemies.
//! Includes stuff like gravity, friction, max movement speed, etc.
(
    types: {
        "EnemyPhysics": (
            components: [
                Gravity((
                    y: -800.0,
                )),
                BaseFriction((
                    friction_x: 500.0,
                )),
                MaxMovementVelocity((
                    x: 100.0,
                    y: 200.0,
                )),
                MovementAcceleration((
                    x: 500.0,
                )),
            ],
        ),
    }
)
