#![enable(implicit_some)]
(
    types: {
        "NormalLeftFast": (
            spritesheet_filename: "enemy_normal_fast.png",

            entity: (
                components: (
                    size: (
                        w: 16.0,
                        h: 16.0,
                    ),
                    gravity: (
                        x: None,
                        y: -400.0,
                    ),
                    max_movement_velocity: (
                        x: 500.0,
                        y: 250.0,
                    ),
                    base_friction: (
                        friction_x: 600.0,
                        friction_y: None,
                    ),
                    animations: {
                        Idle: Cycle([
                            (13, 500),
                            (14, 500),
                        ]),
                        Walk: Cycle([
                            (4, 100),
                            (5, 100),
                            (6, 100),
                        ]),
                    },
                    hitbox: Size,
                    walker: (
                        x: -500.0,
                        y: None,
                    ),
                    health: (
                        health: 8,
                        max_health: 8,
                    ),
                    health_display: (
                        position: Top,
                        size: (32.0, 2.0),
                        padding: 4.0,
                        border_padding: 0.5,
                    ),
                    deals_damage: (
                        damage: 4,
                    ),
                ),

                events: {
                    OnCollision(
                        And([
                            IsSide(Left),
                            IsTag("Player"),
                        ]),
                    ): MoveAction(AddVelocity(
                        x: 500.0,
                        y: 200.0,
                    )),

                    OnCollision(
                        And([
                            IsSide(Right),
                            IsTag("Player"),
                        ]),
                    ): MoveAction(AddVelocity(
                        x: -500.0,
                        y: 200.0,
                    )),

                    OnCollision(
                        And([
                            IsTag("Bullet"),
                            IsState(Enter),
                        ]),
                    ): Group([
                        SoundAction(PlayWithVolume(Jump, 0.3)),
                        MoveAction(AddVelocity(
                            y: 150.0,
                        )),
                        HealthAction(Lose(1)),
                    ]),

                    OnCollision(And([
                        IsSide(Right),
                        IsState(Enter),
                    ])): Group([
                        InsertComponents((
                            walker: (
                                x: -500.0,
                            ),
                        )),
                    ]),

                    OnCollision(And([
                        IsSide(Left),
                        IsState(Enter),
                    ])): Group([
                        InsertComponents((
                            walker: (
                                x: 500.0,
                            ),
                        )),
                    ]),

                    OnCollision(And([
                        IsState(Enter),
                        IsTag("Jumppad"),
                    ])): SoundAction(PlayWithVolume(Jump, 0.75)),
                },

                collision_tag: (
                    labels: ["Enemy", "Solid"],
                    collides_with: ["Player", "Solid", "Jumppad", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy", "Solid"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
