#![enable(implicit_some)]
(
    types: {
        "LaserPeeker": (
            spritesheet_filename: "enemy_peeker.png",

            entity: (
                components: (
                    size: (
                        w: 16.0,
                        h: 32.0,
                    ),
                    animations: {
                        Custom("Hide"): Once([
                            (0, 2000),
                        ]),
                        Custom("HideToPeek"): Once([
                            (1, 100),
                            (2, 100),
                            (3, 100),
                            (4, 100),
                            (5, 100),
                            (6, 200),
                            (7, 200),
                            (8, 200),
                        ]),
                        Custom("Peek"): Once([
                            (9, 400),
                        ]),
                        Custom("Cooldown"): Once([
                            (10, 150),
                            (11, 150),
                            (12, 150),
                            (13, 500),
                        ]),
                        Custom("PeekToHide"): Once([
                            (5, 100),
                            (4, 100),
                            (3, 100),
                            (2, 100),
                            (1, 100),
                        ]),
                    },
                    health: (
                        health: 5,
                        max_health: 5,
                    ),
                    health_display: (
                        position: Top,
                        size: (32.0, 2.0),
                        padding: 4.0,
                        border_padding: 0.5,
                    ),
                ),

                default_variant: "ShootLeft",

                variants: {
                    "ShootLeft": (
                        events: {
                            // Initially just switch to "Hide".
                            OnSpawn: EntityAction(PushVariant("Hide")),

                            // After being popped back here, do the shooting.
                            Delay(1): AnimationAction(Push(Custom("Peek"))),
                            Delay(200): SpawnAction(SpawnRelative((
                                object: (
                                    type: Custom("Laser"),
                                    pos: (x: -960.0, y: 0.0),
                                    size: (w: 16.0, h: 16.0),
                                    props: {
                                        "variant": "Active",
                                    },
                                ),
                            ))),
                            OnAnimationEnd(Custom("Peek")):
                                AnimationAction(Push(Custom("Cooldown"))),
                            OnAnimationEnd(Custom("Cooldown")):
                                EntityAction(PushVariant("PeekToHide")),
                        },
                    ),

                    "ShootRight": (
                        events: {
                            // Initially just switch to "Hide".
                            OnSpawn: EntityAction(PushVariant("Hide")),

                            // After being popped back here, do the shooting.
                            Delay(1): AnimationAction(Push(Custom("Peek"))),
                            Delay(200): SpawnAction(SpawnRelative((
                                object: (
                                    type: Custom("Laser"),
                                    pos: (x: 960.0, y: 0.0),
                                    size: (w: 16.0, h: 16.0),
                                    props: {
                                        "variant": "Active",
                                    },
                                ),
                            ))),
                            OnAnimationEnd(Custom("Peek")):
                                AnimationAction(Push(Custom("Cooldown"))),
                            OnAnimationEnd(Custom("Cooldown")):
                                EntityAction(PushVariant("PeekToHide")),
                        },
                    ),

                    "Hide": (
                        components: (
                            hitbox: Custom([
                                (
                                    top:    2.0,
                                    bottom: -16.0,
                                    left:   -8.0,
                                    right:  8.0,
                                ),
                            ]),
                        ),
                        events: {
                            Init: AnimationAction(Push(Custom("Hide"))),
                            OnAnimationEnd(Custom("Hide")):
                                EntityAction(SwitchVariant("HideToPeek")),
                        },
                    ),

                    "HideToPeek": (
                        components: (
                            hitbox: Custom([
                                (
                                    top:    8.0,
                                    bottom: -16.0,
                                    left:   -8.0,
                                    right:  8.0,
                                ),
                            ]),
                        ),
                        events: {
                            Init: AnimationAction(Push(Custom("HideToPeek"))),
                            OnAnimationEnd(Custom("HideToPeek")):
                                EntityAction(SwitchVariant("Peek")),
                        },
                    ),

                    "Peek": (
                        components: (
                            hitbox: Custom([
                                (
                                    top:    14.0,
                                    bottom: -16.0,
                                    left:   -8.0,
                                    right:  8.0,
                                ),
                            ]),
                        ),
                        events: {
                            Init: EntityAction(PopVariant),
                        },
                    ),

                    "PeekToHide": (
                        components: (
                            hitbox: Custom([
                                (
                                    top:    8.0,
                                    bottom: -16.0,
                                    left:   -8.0,
                                    right:  8.0,
                                ),
                            ]),
                        ),
                        events: {
                            Init: AnimationAction(Push(Custom("PeekToHide"))),
                            OnAnimationEnd(Custom("PeekToHide")):
                                EntityAction(SwitchVariant("Hide")),
                        },
                    ),
                },

                collision_tag: (
                    labels: ["Enemy", "NoKnockback"],
                    collides_with: ["Player", "Solid", "Jumppad", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
