#![enable(implicit_some)]
/// Enemies settings.
(
    types: {
        "Spike": (
            spritesheet_filename: "empty.png",

            entity: (
                components: (
                    hitbox: Size,

                    deals_damage: (
                        damage: 6,
                    ),
                ),

                collision_tag: (
                    labels: [Solid, Tile],
                    collides_with: [Enemy],
                ),

                solid_tag: (
                    labels: [Solid, Tile],
                    collides_with: [Enemy],
                ),
            ),
        ),
    }
)
