#![enable(implicit_some)]
(
    types: {
        "TurretBasicHorizontal": (
            spritesheet_filename: "enemy_turret_basic_horizontal.png",

            entity: (
                components: (
                    size: (
                        w: 32.0,
                        h: 16.0,
                    ),
                    gravity: (
                        x: None,
                        y: None,
                    ),
                    max_movement_velocity: (
                        x: 100.0,
                        y: 100.0,
                    ),
                    base_friction: (
                        friction_x: 1000.0,
                    ),
                    animations: {
                        Custom("Default"): Cycle([
                            (0, 1000),
                        ]),
                        Custom("Charge"): Cycle([
                            (1, 150),
                            (2, 150),
                            (3, 150),
                        ]),
                        Custom("Reset"): Cycle([
                            (4, 80),
                            (5, 80),
                            (6, 80),
                            (7, 80),
                            (8, 80),
                            (9, 80),
                            (15, 150),
                            (14, 150),
                            (13, 150),
                            (12, 150),
                            (11, 150),
                            (10, 150),
                        ]),
                    },
                    hitbox: Custom([
                        (
                            top:    12.0,
                            bottom: -24.0,
                            left:   -12.0,
                            right:  12.0,
                        ),
                    ]),
                    health: (
                        health: 1,
                        max_health: 1,
                    ),
                ),

                variants: {
                    "Left": (
                        components: (
                        ),
                        events: {
                            Interval(1000): SpawnAction(SpawnRelative((
                                object: (
                                    type: Custom("ShooterBullet"),
                                    pos: (x: -16.0, y: 0.0),
                                    size: (w: 16.0, h: 16.0),
                                    props: {
                                        "variant": "Left",
                                    },
                                ),
                            ))),
                        },
                    ),
                    "Right": (
                        components: (
                        ),
                        events: {
                            Interval(1000): SpawnAction(SpawnRelative((
                                object: (
                                    type: Custom("ShooterBullet"),
                                    pos: (x: 16.0, y: 0.0),
                                    size: (w: 16.0, h: 16.0),
                                    props: {
                                        "variant": "Right",
                                    },
                                ),
                            ))),
                        },
                    ),
                },

                collision_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Player", "Solid", "Jumppad", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
