#![enable(implicit_some)]
(
    types: {
        "VentGreyClosed": (
            spritesheet_filename: "environment_vent_grey_closed.png",

            entity: (
                components: (
                    size: (
                        w: 32.0,
                        h: 32.0,
                    ),
                    gravity: (
                        x: None,
                        y: None,
                    ),
                    max_movement_velocity: (
                        x: 100.0,
                        y: 100.0,
                    ),
                    base_friction: (
                        friction_x: 1000.0,
                    ),
                    animations: {
                        Idle: Cycle([
                            (0, 100),
                            (1, 100),
                            (2, 100),

                        ]),
                    },
                    hitbox: Custom([
                        (
                            top:    12.0,
                            bottom: -24.0,
                            left:   -12.0,
                            right:  12.0,
                        ),
                    ]),
                    health: (
                        health: 1,
                        max_health: 1,
                    ),
                ),


                collision_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Player", "Solid", "Jumppad", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
