#![enable(implicit_some)]
(
    types: {
        "Door1Enemy": (
            spritesheet_filename: "enemy_bounceboy.png",

            entity: (
                inherits: ["Enemy", "Walker"],

                components: [
                    Hitbox(Size),
                    Animations({
                        Walk: Cycle([
                            (0, 120),
                            (1, 120),
                            (2, 120),
                            (3, 120),
                        ]),
                    }),
                    Health((
                        health: 2,
                        max_health: 2,
                    )),
                    DealsDamage((
                        damage: 1,
                    )),
                    VariableRegister({
                        "is_active": false,
                    }),
                ],

                // default_variant: "WalkLeft",

                events: {
                    Function("Activate"): If((
                        if: Not(Or([
                            Eq(Variant(), "WalkLeft"),
                            Eq(Variant(), "WalkRight"),
                        ])),
                        then: Group([
                            VariableAction(Set("is_active", true)),
                            EntityAction(PushVariant("WalkLeft")),
                        ]),
                    )),

                    Function("Deactivate"): If((
                        if: Or([
                            Eq(Variant(), "WalkLeft"),
                            Eq(Variant(), "WalkRight"),
                        ]),
                        then: Group([
                            VariableAction(Set("is_active", false)),
                            EntityAction(PopVariant),
                            InsertComponents([Walker(None)]),
                        ]),
                    )),

                    OnDeath: Group([
                        ForeignEntityAction((
                            selector: (
                                object: Custom("Door1"),
                            ),
                            action: Call("EnemyKilled"),
                        )),
                        SpawnAction(SpawnRelative((
                            object: (
                                type: Custom("Explosion"),
                                pos: (x: 0.0, y: 0.0),
                                size: (w: 48.0, h: 48.0),
                            ),
                        ))),
                    ]),

                    Interval(250): If((
                        if: Var("is_active"),
                        then: Random((
                            chance: 0.5,
                            on_success: If((
                                if: Eq(Variant(), "WalkLeft"),
                                then: EntityAction(SwitchVariant("WalkRight")),
                                else: If((
                                    if: Eq(Variant(), "WalkRight"),
                                    then: EntityAction(SwitchVariant("WalkLeft")),
                                )),
                            )),
                        )),
                    )),

                    Interval(500): If((
                        if: Var("is_active"),
                        then: Random((
                            chance: 0.5,
                            on_success: MoveAction(SetVelocity(y: 300.0)),
                        )),
                    )),
                },

                collision_tag: (
                    labels: ["Enemy", "Solid"],
                    collides_with: ["Player", "Solid", "Bullet"],
                ),

                solid_tag: (
                    labels: ["Enemy"],
                    collides_with: ["Solid"],
                ),
            ),
        ),
    }
)
