<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../deathframe_animation/components/prelude/struct.AnimationsContainer.html">
</head>
<body>
    <p>Redirecting to <a href="../../../deathframe_animation/components/prelude/struct.AnimationsContainer.html">../../../deathframe_animation/components/prelude/struct.AnimationsContainer.html</a>...</p>
    <script>location.replace("../../../deathframe_animation/components/prelude/struct.AnimationsContainer.html" + location.search + location.hash);</script>
</body>
</html>