// He fast.
#![enable(implicit_some)]
(
    types: {
        "PlayableCharacters": (
            variants: {
                "Sonic": (
                    size: (
                        w: 10.0,
                        h: 10.0,
                    ),

                    events: {
                        Init: Echo("SONIC"),
                    },

                    components: [
                        MaxMovementVelocity((
                            x: 150.0,
                            y: 410.0,
                        )),
                        MovementAcceleration((
                            x: 1000.0,
                            y: 1500.0, // DEBUG
                        )),
                        Hitbox(Custom([
                            (
                                top:    10.0,
                                bottom: -16.0,
                                left:   -6.0,
                                right:  6.0,
                            ),
                        ])),
                    ],
                ),
            },
        ),
    },
)
